.icon-arrow--thin-before:before,
.icon-arrow--thin-after:after,
.icon-arrow--thin { background-image: url('images/png/arrow--thin.png'); background-repeat: no-repeat; }

.icon-arrow-right--white-before:before,
.icon-arrow-right--white-after:after,
.icon-arrow-right--white { background-image: url('images/png/arrow-right--white.png'); background-repeat: no-repeat; }

.icon-arrow-right-before:before,
.icon-arrow-right-after:after,
.icon-arrow-right { background-image: url('images/png/arrow-right.png'); background-repeat: no-repeat; }

.icon-arrow-before:before,
.icon-arrow-after:after,
.icon-arrow { background-image: url('images/png/arrow.png'); background-repeat: no-repeat; }

.icon-back-before:before,
.icon-back-after:after,
.icon-back { background-image: url('images/png/back.png'); background-repeat: no-repeat; }

.icon-calendar-before:before,
.icon-calendar-after:after,
.icon-calendar { background-image: url('images/png/calendar.png'); background-repeat: no-repeat; }

.icon-close-before:before,
.icon-close-after:after,
.icon-close { background-image: url('images/png/close.png'); background-repeat: no-repeat; }

.icon-contact-before:before,
.icon-contact-after:after,
.icon-contact { background-image: url('images/png/contact.png'); background-repeat: no-repeat; }

.icon-download-before:before,
.icon-download-after:after,
.icon-download { background-image: url('images/png/download.png'); background-repeat: no-repeat; }

.icon-down_arrow--white-before:before,
.icon-down_arrow--white-after:after,
.icon-down_arrow--white { background-image: url('images/png/down_arrow--white.png'); background-repeat: no-repeat; }

.icon-down_arrow-before:before,
.icon-down_arrow-after:after,
.icon-down_arrow { background-image: url('images/png/down_arrow.png'); background-repeat: no-repeat; }

.icon-expand-before:before,
.icon-expand-after:after,
.icon-expand { background-image: url('images/png/expand.png'); background-repeat: no-repeat; }

.icon-facebook-before:before,
.icon-facebook-after:after,
.icon-facebook { background-image: url('images/png/facebook.png'); background-repeat: no-repeat; }

.icon-filter-before:before,
.icon-filter-after:after,
.icon-filter { background-image: url('images/png/filter.png'); background-repeat: no-repeat; }

.icon-globe-before:before,
.icon-globe-after:after,
.icon-globe { background-image: url('images/png/globe.png'); background-repeat: no-repeat; }

.icon-hamburger-before:before,
.icon-hamburger-after:after,
.icon-hamburger { background-image: url('images/png/hamburger.png'); background-repeat: no-repeat; }

.icon-instagram-before:before,
.icon-instagram-after:after,
.icon-instagram { background-image: url('images/png/instagram.png'); background-repeat: no-repeat; }

.icon-linkedin-before:before,
.icon-linkedin-after:after,
.icon-linkedin { background-image: url('images/png/linkedin.png'); background-repeat: no-repeat; }

.icon-location-before:before,
.icon-location-after:after,
.icon-location { background-image: url('images/png/location.png'); background-repeat: no-repeat; }

.icon-message-before:before,
.icon-message-after:after,
.icon-message { background-image: url('images/png/message.png'); background-repeat: no-repeat; }

.icon-next-white-before:before,
.icon-next-white-after:after,
.icon-next-white { background-image: url('images/png/next-white.png'); background-repeat: no-repeat; }

.icon-next-before:before,
.icon-next-after:after,
.icon-next { background-image: url('images/png/next.png'); background-repeat: no-repeat; }

.icon-oval-before:before,
.icon-oval-after:after,
.icon-oval { background-image: url('images/png/oval.png'); background-repeat: no-repeat; }

.icon-phone-before:before,
.icon-phone-after:after,
.icon-phone { background-image: url('images/png/phone.png'); background-repeat: no-repeat; }

.icon-play-before:before,
.icon-play-after:after,
.icon-play { background-image: url('images/png/play.png'); background-repeat: no-repeat; }

.icon-plus-before:before,
.icon-plus-after:after,
.icon-plus { background-image: url('images/png/plus.png'); background-repeat: no-repeat; }

.icon-prev-white-before:before,
.icon-prev-white-after:after,
.icon-prev-white { background-image: url('images/png/prev-white.png'); background-repeat: no-repeat; }

.icon-prev-before:before,
.icon-prev-after:after,
.icon-prev { background-image: url('images/png/prev.png'); background-repeat: no-repeat; }

.icon-profile-before:before,
.icon-profile-after:after,
.icon-profile { background-image: url('images/png/profile.png'); background-repeat: no-repeat; }

.icon-reset-before:before,
.icon-reset-after:after,
.icon-reset { background-image: url('images/png/reset.png'); background-repeat: no-repeat; }

.icon-rss-before:before,
.icon-rss-after:after,
.icon-rss { background-image: url('images/png/rss.png'); background-repeat: no-repeat; }

.icon-search-before:before,
.icon-search-after:after,
.icon-search { background-image: url('images/png/search.png'); background-repeat: no-repeat; }

.icon-share--black-before:before,
.icon-share--black-after:after,
.icon-share--black { background-image: url('images/png/share--black.png'); background-repeat: no-repeat; }

.icon-share-before:before,
.icon-share-after:after,
.icon-share { background-image: url('images/png/share.png'); background-repeat: no-repeat; }

.icon-tick-before:before,
.icon-tick-after:after,
.icon-tick { background-image: url('images/png/tick.png'); background-repeat: no-repeat; }

.icon-twitter-before:before,
.icon-twitter-after:after,
.icon-twitter { background-image: url('images/png/twitter.png'); background-repeat: no-repeat; }
