footer.footer {
	background-color: #fff;
	position:relative;
}
#wec-drop #wec-drop__inner {
	-webkit-justify-content:flex-end;
	justify-content: flex-end;
	max-width: 100%;
}
/* panel layout styles */
.fullbleed--hero {
		height:85vh;
		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
	}
.fullbleed--hero .narrow {
	z-index: 2;
}
.fullbleed--hero .narrow h1 {
	margin:0;
	padding: 0;
}
.fullbleed--hero .narrow .page-info__copy {
	font-style: italic;
}
.fullbleed--hero .panel__scrollIcon {
	margin-top:25px;
}
.page-info__content {
	display: block;
}
.covid-section-mid__grey {
	background-color:#e9e9e9;
}
.covid-section-light__grey {
	background-color:#f2f2f2;
}
.covid-section-white {
	background-color:#fff;
}
.center-align {
	display: flex;
	align-items: center;
}
.wec-section--pad {
	padding-top:50px;
	padding-bottom:50px;
}
.covid-section .wec-section__inner {
	width:100%;
}
.left-align {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: flex-start;
}
.covid-section {
	overflow: hidden;
}
.covid-section.overlay:before, .fullbleed--video.overlay:before {
	position: absolute;
	content: "";
	top:0;
	bottom:0;
	left:0;
	right: 0;
	z-index: 2;
}

.covid-section.overlay.dark:before, .fullbleed--video.overlay.dark:before {
	background: rgba(0,0,0,0.525);
}
.covid-section.overlay.light:before, .fullbleed--video.overlay.light:before {
	background: rgba(0,0,0,0.25);
}

.narrow {
		max-width: 800px;
		margin: auto;
		position: relative;
		width: 100%;
	}

/* elements */
.inpagenav {
    padding: 0; 
}
.inpagenav .inpagenav-container .inpagenav-item a.linkfill {
	min-height:210px;
}

.inpagenav .inpagenav-item .inner p {
	padding-right:50px;
}
.covid-section .item-shelf__item:last-child {
	display:none;
}
.preview-card__pic {
	padding-top:52.5%;
}

/* fonts and headings */
p.intro {
	font-size:20px;
}
.cta {
	font-size: 18px;
}
h2.section-heading {
	font-size:24px;
}
[data-theme=grey-new] {
	background-color:#b2b2b2;
	color:#fff;
}
[data-theme=grey-dark] {
	background-color:#5c5c5c;
	color:#fff;
}
[data-theme=grey-new] p, [data-theme=grey-new] hr, [data-theme=grey-dark] p, [data-theme=grey-dark] hr {
	color:#fff;
}
[data-theme=overlay-text] p, [data-theme=overlay-text] hr, [data-theme=overlay-text] h2, [data-theme=overlay-text] h3, [data-theme=overlay-text] h4, [data-theme=overlay-text] h5 {
	color:#fff;
}
.new-mobile p {
		font-size:18px;
	}
.new-mobile .accordion__title.intro.intro--bold {
	font-size:20px;
}
.media-comp--overlay-dark:after, .media-comp--overlay-light:after, .media-comp--overlay-medium:after, .media-comp--overlay:after {
	background:rgba(0,0,0,0.525);
}
.scroll-panel .nano-pane .nano-slider, .scroll-panel .nano-pane:before {
	background-color:#fff!important;
	opacity: .75;
}
.panel__scrollIcon {
	display: flex;
	justify-content: center;
	position: relative;
}
.panel__scrollIcon .icon {
	margin-top:30px;
}
.panel__scrollIcon.black svg path, .panel__scrollIcon.black svg polyline, .panel__scrollIcon.black svg rect {
	stroke:#343434!important;
}
.overlay .panel__scrollIcon.black svg path, .overlay .panel__scrollIcon.black svg polyline, .overlay .panel__scrollIcon.black svg rect, .overlay .label {
	stroke:#ffffff!important;
	color:#fff;
}
@media (min-width:768px) {
	/* appearance */
	p.intro, .covid-section p {
		font-size:24px;
	}
	.pinned p {
		font-size:20px;
	}
	h2.section-heading {
		font-size:32px;
	}
	/*layout*/
	.mid-width {
		max-width:930px;
		position: relative;
		margin: auto;
	}
	#wec-goals {
		position: relative;
		box-sizing:border-box;
	}
	#wec-goals .wec-section {
		position:relative;
		top:initial;
	}
	/* tabs layout for carousel on mobile */
	.new-mobile {
		display: block;
	}
	.new-mobile .panel {
		padding:40px 0;
	}
	.new-mobile p {
		font-size:18px;
	}
	/* publications*/
	.item-shelf__item:nth-of-type(5n+1) .item-shelf__copy-wrap:before {
	content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    left: -100vw;
    right: -100vw;
    top: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
	}
	.item-shelf__item.item-shelf__item:first-of-type .item-shelf__copy-wrap::before {
		position: absolute!important;
	}
	.item-shelf__item:nth-of-type(4n+1) .item-shelf__copy-wrap:before {
		position: relative!important;
	}
}
@media (min-width:1024px) {
	/* appearance */
	
	/* layout */
	.covid-section {
		min-height: 100vh;
	}
	#wec-goals .wec-section {
		position:-webkit-sticky;
		position: sticky;
		top:1px;
	}
	.full-width.no-limit {
		max-width: 100%;
		margin:initial;
		width:100%;
		padding: 0
	}
	/* in page nav */
	.inpagenav {
    padding: 40px 0 50px; 
	}
	.inpagenav .inpagenav-container .inpagenav-item {
		flex:0 0 50%;
	}
	/* desktop-carousel */
	.new-mobile {
		display: none;
	}
	.new-desktop {
		display: block;
	}
	.carousel-container .nav-panel {
		margin:0;
		padding:80px 0 0;
	}
	 .new-desktop .nav-panel__inner {
		margin:0 5% 0 5%;
	}
	.carousel-container .nav-panel__container .panel {
		min-height:410px!important;
		max-height:450px;
	}
	.carousel-container .nav-panel .panel {
    margin-left: 50px;
    max-width: 625px;
	}
	.carousel-container .nav-panel:not(.nav-panel--reverse) .scroll-panel li {
		padding-right:15px;
	}
	.carousel-container .scroll-panel a {
		font-size: 20px;
	}
	.carousel-container h3.panel__title {
		font-size: 32px;
	}
	.carousel-container .new-desktop p, .cta {
		font-size: 20px!important;
	}
	.panel__scrollIcon .icon {
	margin-top:60px;
	}
	/* publications */ 
	.covid-section .item-shelf__list {
		max-width:1260px;
	}
	.covid-section .item-shelf__item {
		width:20%;
	}
	.covid-section .item-shelf__item:last-child {
		display: block;
	}
}

@media (min-width: 1280px) {
	/*appearance */
	.fullbleed.fullbleed--new .page-info__copy {
		font-size:26px;
	}
	.covid-section p.intro, .covid-section p {
		font-size: 26px
	}
	h2.section-heading {
		font-size:48px;
	}
	.pinned p {
		font-size:26px;
	}
	.inpagenav .inpagenav-item .inner h4 {
		font-size: 32px!important;
	}
	.inpagenav .inpagenav-item .inner p {
		font-size:22px;
		padding-right:30px;
	}
	/* layout */
	.full-width {
		max-width:1460px;
		margin:auto;
		width:100%;
	}
	.pinned .mid-width {
		max-width: 930px;
	}
	/* desktop carousel */
	.carousel-container .nav-panel__container .panel {
    	max-height: 400px;
    	min-height: 375px!important;
    	margin-bottom: 20px;
	}
	.carousel-container .nav-panel .panel {
		margin-left:75px;
		max-width: 930px;
	}
	/* perspectives */
	.covid-section .up-list__item--three.five {
		width: 18.4%;
	}
	.covid-section .up-list__item.five {
		margin-left:2%;
		margin-bottom: 2%;
	}
	.covid-section .up-list__item.five:first-child, .covid-section .up-list__item.five:nth-of-type(5n+1) {
		margin-left: 0;
	}
	/* replace pinned with wec css style pinning */
	#wec-goals .wec-section__inner, #wec-goals .wec-section__media img {
		-webkit-tranform: translateY(0);
		transform: translateY(0);
	}
	#wec-goals .wec-section__inner {
		top:initial;
	}
}
@media (min-width: 1280px) and (max-width: 1499px) {
	.full-width {
		padding:0 1.5rem;
	}
}
@media (max-height: 809px) {
	.carousel-container .nav-panel__container .panel {
		min-height:330px!important;
		max-height:420px;
	}
}
