
	/*#help .rich-text .rich-text__content {
		width:100%;
		margin:auto;
		max-width:930px;
	}*/

	.help-list {
		display: flex;
		list-style: none;
		padding:0;
		margin: 0;
		flex-direction: row;
		justify-content: space-between;
		list-style-type: none;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	}

	.help-list li.help-list__item {
		width:33%;
	}

	.help-item {
		display: flex;
		flex-direction: column;
		background-color: #f2f2f2;
		padding:1.2rem;
		width:100%;
		height: 100%;
	}
	.help-item .heading-intro {
		height:100%;
		min-height:170px;
	}

	.new-desktop .label--md {
		font-size:14px;
		margin:15px 0 5px; 
	}

	.new-desktop ul.what-we-can-do {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.new-desktop ul.what-we-can-do li {
		margin-bottom: 10px;
	}

	.cta--left.cta--small {
		padding-left:2.4rem;
		padding-right: 0;
	}
	.cta--left .icon {
		left:0;
		right:initial;
		transform: none;
		top:7.5%;
	}
	.media-comp--overlay:after {
		background:rgba(0,0,0,0.05);
	}
	.nav-panel__inner {
		margin:0 5%;
	}
	.nav-panel .panel {
		max-width: 650px;
	}
	.inpagenav .inpagenav-item .inner p {
		padding-right: 0;
	}
	.learn-more {
		background-position: 50% 40%;
		position: relative;
	}
	.highlight-section.recommended-content {
		max-width: 92%;
		margin: auto;
	}
	ul.hero-service-list {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	ul.hero-service-list li {
		display: flex;
		width:49%;

	}
	ul.hero-service-list li .preview-card--hero .preview-card__content, ul.hero-service-list li .preview-card--hero .preview-card__header {
		min-height: 10rem;
	}
	ul.hero-service-list li .dynamic-feat, ul.hero-service-list li .dynamic-feat__hero {
		padding-bottom:0;
		margin-bottom:0;
	}
	ul.hero-service-list li .dynamic-feat {
		padding-top:2rem;
	}
	@media (min-width: 768px) {
		.page-hero__copy {
			margin:0 28% 0 12.5%;
		} 
	}

	ul.featured-area {
		margin:3rem 0;
		padding:0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
	}
	ul.featured-area li {
		display: flex;
		width:49%;
	}
	.featured-wrapper {
		padding:1rem;
		width:100%;
		height:100%;
	}
	.featured-wrapper.light-grey {
		background-color:#f2f2f2;
	}