article {
	overflow: hidden;
}
article.text-content {
background-color:#fafafa;
}
 .nav-secondary {
	position: absolute;
	left:0;
	right:0;
	background-color: rgba(0,0,0,0.5);
	z-index: 3;
	box-shadow: none;
    border-top: none;
}
 .nav-secondary .container {
	background: transparent;
}
.nav-secondary .container:before {
	background: transparent;
}
 .nav-secondary__main>div:last-child {
	display: none;
}
 .nav-secondary li a, .nav-secondary li, .nav-secondary li:after {
	color: #fff;
}
 .fullbleed--hero.service-banner, .fullbleed.service-banner, .fullbleed.fullbleed--new {
	height: -webkit-calc(100vh - 75px)!important;
    	height: calc(100vh - 75px)!important;
}

.fullbleed--hero .overlay, .fullbleed--hero.fullbeed--new .overlay {
	display: none;
}
.fullbleed--hero .fullbleed__alt-content, .fullbleed.fullbleed--new .fullbleed__alt-content {
	z-index: 5;
	padding:0!important;
	bottom:0!important;
	color:#343434;
	background-image: none;
	position: absolute!important;
	height: auto;
}
.fullbleed--hero.service-banner .container, .fullbleed.fullbleed--new .fullbleed__alt-content .container--3col {
	position: relative!important;
	top:0;
	transform: none;
	left:0;
} 
.fullbleed--hero.service-banner .container:before, .fullbleed--hero.fullbleed--new .container:before {
	content: "";
	position: absolute;
	top:0;
	bottom: 0;
	right:90%;
	width:10000px;
	background-color: white;
}
.fullbleed--hero .container--3col .col__main {
	width:100%!important;
	margin:0!important;
}
.fullbleed--hero .container--3col .page-info {
	background-color: #fff;
	padding:1.5rem 1.5rem 1.5rem 0;
	width:85%;
}
.fullbleed--hero .page-info__content {
	border: none;
	display: block;
}
.fullbleed--hero .cta.hub-label {
	position: absolute;
	top:-80px;
}
.fullbleed--hero .hub-label {
	margin-top:0;
	margin-bottom: 20px;
}
.fullbleed--hero .cta--small.hub-label {
	padding-left:1.8rem;
}
.fullbleed--hero .cta--small.hub-label .icon {
	transform: translateY(-50%) rotate(180deg);
	left:0;
}
.fullbleed--hero .cta--small.hub-label .icon svg {
	display: none;
}
.fullbleed--hero .cta--small.hub-label .icon:after, .fullbleed--hero .hub-label .icon:before {
	width:0.9rem;
	height:0.6rem;
}
.fullbleed--hero .cta--small span {
	font-size: 16px;
	font-style: normal;
	border-bottom: none;
}
.fullbleed--hero .cta--small:hover span {
	border: none;
}
.fullbleed--hero .page-info__title .feature-title__title {
	margin-top:30px;
	text-align: left;
}
 .util-contact__pic {
	filter: grayscale(100%);
}
.fullbleed--hero .page-info .feature-title__label {
	display: none;
}
.fullbleed--hero.fullbleed--new .container--3col .page-info {
	width: 100%
}
.fullbleed--hero.fullbleed--new .page-info__title.feature-title {
	width: 100%;
	padding-bottom:0.8rem!important;
}
.fullbleed--hero.fullbleed--new .page-info__content {
	display: flex;
    flex-flow: row;
    position: relative;
    padding-top:0.7rem!important;
}
.fullbleed .fullbleed__alt-content .container--3col .page-info__copy, .fullbleed.fullbleed--new .fullbleed__alt-content .container--3col .page-info__copy  {
font-size:18px;
font-style:normal;
padding-bottom:1rem;
}
.fullbleed--hero.fullbleed--new .page-info__navigation, .fullbleed--hero .page-info__navigation {
	display: none;
}
.fullbleed--hero .fullbleed__outer {
	display: none;
}
@media (max-width: 400px) {
	.fullbleed--hero .cta.hub-label.long-name {
	top:-110px;
	}
}
@media (min-width:768px) {
	.fullbleed--hero .progressiveMedia img.mainImg, 
        .fullbleed--hero .progressiveMedia img,
         .fullbleed--hero .progressiveMedia .objectFit {
		min-height: 100%;
	}
	.fullbleed--hero .progressiveMedia:after {
		bottom: 15%;
	}
	.fullbleed--hero.fullbleed--video video {
		height:auto;
		object-fit: cover;
		top:35%;
	}
	.fullbleed--hero .container--3col .page-info {
		width: 75%;
	}
	.fullbleed .fullbleed__alt-content .container--3col .page-info__copy{
	font-size:20px;
	font-style:normal;
	}	
	.fullbleed.fullbleed--new .feature-title__title {
		font-size: 50px;
	}
	.fullbleed--hero .cta.hub-label {
		top:-100px;
	}
	.fullbleed--hero.fullbleed--new .page-info__title.feature-title {
		width: 70%;
	}
	.fullbleed--hero.fullbleed--new .page-info__description {
		width:70%;
		margin-right:20px;
		padding-right: 20px;
	}
	.fullbleed--hero.fullbleed--new .page-info__navigation {
		width:30%;
		margin-top:-4rem;
		display: block;
	}
	.fullbleed--hero.fullbleed--new .page-info__navigation {
		max-width: 100%;
		display: block;
	}
	.fullbleed--hero.fullbleed--new .page-info__navigation span {
		font-style: italic;
		display: block;
	}
	.fullbleed--hero.fullbleed--new .page-info__navigation .cta span {
		font-style: normal;
		border:none;
		display: block;
	}
	.fullbleed--hero.fullbleed--new .page-info__navigation .cta:hover span {
		border: none;
	}
	.fullbleed--hero.fullbleed--new .page-info__navigation ul {
		margin:0;
		padding: 0;
	}
	.fullbleed--hero.fullbleed--new .page-info__navigation ul li {
		list-style: none;
		font-size: 20px;
		margin-bottom: 0.5rem;
	}
	.inpage__nav .cta--small {
		padding-left:2.4rem;
		padding-right: 0;
	}
	.inpage__nav .cta .icon {
		left:0;
	}
	.inpage__nav .icon svg {
		display: none;
	}
	.inpage__nav .cta--black .icon:after, .inpage__nav .cta--black .icon:before {
		background-size: contain;
		transform: rotate(90deg) translate(-50%, -50%);
		top:50%;
		left:0;
		height: .6rem;
    	width: .9rem;
    	transition: top .25s, opacity .25s, background-image .25s;
	}
	.inpage__nav .cta .icon:after {
		top:-50%;
	}
	.inpage__nav .cta:hover .icon:before {
		top:100%;
	}
	.inpage__nav .cta:hover .icon:after {
		top:50%;
	}
	.inpage__nav .cta:hover span:not(.icon) {
		padding-bottom: 2px;
	}
}
/* end alt banner */

/* promoted content */
 .promoted__content {
 	margin:3rem 0;
 }
 .promoted__content .container {
 }
.promoted__content .promoted__content-container {
	z-index: 1;
 	padding:1.5rem 3rem;
 	position: relative;
 	width:100%;
}

.promoted__content .publication__cover {
	display: none;
}

@media (min-width:768px) and (max-width: 1023px) {
	.promoted__content .promoted__content-container {
		width: 75%;
	}
	.promoted__content .publication__cover {
 	position: absolute;
 	top:-15%;
 	right:2.5%;
 	display: block;
 }
 .promoted__content .pub-hero__cover {
 	max-width:225px;
 	max-height:195px;
 }
}

 @media (min-width:1024px) {
 .promoted__content .promoted__image {
 	position: absolute;
 	top:0;
 	bottom:0;
 	left:50%;
 	right:0;
 	z-index: 0;
 	background-size: cover;
 	background-position: 50% 50%;
 }
 .promoted__content .promoted__content-container {
 	width:45%;
 }
 .promoted__content .promoted__content-container:after {
 	background: #fafafa;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 95%;
    width: 30%;
    position: absolute;
    transform: skewX(-20deg);
    z-index: -1;
 }

 .promoted__content .content__heading {
 	font-size: 28px;
 }

 .promoted__content .content__strapline {
 	font-size:20px;
 	line-height: 1.3;
 }
 .promoted__content .publication__cover {
 	position: absolute;
 	top:-15%;
 	right:2.5%;
 	display: block;
 .promoted__content .pub-hero__cover {
 	max-width:275px;
 	max-height:225px;
 }
}
/* end promoted content */

.utility-bar {
	background: #fff;
	box-shadow: none;
}
.utility-bar.spacer {
	margin-bottom:1rem;
}
.container.utility-bar__inner {
	align-items: center;
}
.utility-bar .h3 {
	font-size: 16px;
	font-style: normal;
	margin-bottom: 0;
	border-right: 1.5px solid #e9e9e9;
	padding:5px 15px 5px 0;
}
.utility-bar .page__label .h3 {
	border: none;
	font-weight: bold;
	font-size: 16px;
        opacity:0;
        transition:opacity .25s;
}
.utility-bar.stuck .page__label .h3 {
opacity:1;
}
.utility-bar__content {
	position: absolute;
	right: 0;
	width:240px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.utility-bar__content .h3 {
	border: none;
	opacity: 0;
	transition: opacity .25s;
}
.utility-bar.stuck .utility-bar__content .h3 {
	opacity: 1;
}
.utility-bar__content .h3 .filter {
	font-weight: normal;
	font-style: italic;
}
.utility-bar__content .fancy-dropdown {
	display: none;
}
.utility-bar .filter {
	font-style: normal;
	font-weight: bold;
}

.utility-bar .filter:before {
	border-bottom: none;
}
.fancy-dropdown .filter {
	padding-right: 25px;
}
.utility-bar .fancy-dropdown .filter:after {
	background-image: url(data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20width%3D%228%22%20height%3D%225%22%20viewBox%3D%220%200%208%205%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%201L4%204%200%201%22%20stroke%3D%22%23000%22%20fill%3D%22none%22%20opacity%3D%22.9%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
}
.utility-bar .filter:after {
	background: url(data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20width%3D%228%22%20height%3D%225%22%20viewBox%3D%220%200%208%205%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%201L4%204%200%201%22%20stroke%3D%22%23000%22%20fill%3D%22none%22%20opacity%3D%22.9%22%2F%3E%3C%2Fsvg%3E);
}
ul.utility__navigation {
	display: none;
}

a.button__get-in-touch {
	display: block;
	position: absolute;
	right:10px;
	padding:10px 12px;
	background-color:#333;
	color:#fff;
	transition: background .25s, opacity 0.25s;
        opacity:0;
}
.stuck a.button__get-in-touch {
opacity:1;
}
a.button__get-in-touch:hover {
	background-color:#E61E28;
	color:#fff;
}

@media (min-width:1024px) {
	.utility-bar__content .fancy-dropdown {
display:flex;
}
	.utility-bar .h3 {
		font-size: 18px;
	}
.utility-bar .page__label .h3 {
font-size:20px;
}
	.fancy-dropdown .filter {
		padding-right: 40px;
	}
	ul.utility__navigation {
		margin: 0;
		margin-left:20px;
		padding: 0;
		display: flex;
		flex-direction: row;
	}
	ul.utility__navigation li {
		list-style: none;
		font-size: 18px;
		margin-right:50px;
	}
	ul.utility__navigation li.active {
		border-bottom: 2px solid #E61E28;
	}
	a.button__get-in-touch {
		right: 0;
		padding:10px 30px;
	}
	a .button__label {
		font-size: 18px;
		font-weight: ;
	}
	.utility-bar__content {
		width:30%;
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
.stuck a.button__get-in-touch {
top:-85%;
}
}
@media (min-width:1280px) {
}
.cut__out {
	position: absolute;
	height:200px;
	left:0;
	right:30%;
	bottom:0;
	background-color: #fff;
}
.content-slider__background {
	background-size: cover;
	background-position: 50% 50%;
	width:100%;
}
.content-slider__background .content-slider--dt-md {
	max-width: 1160px;
	margin: 2rem auto;
	position: relative;
	min-height: 500px;
	margin-bottom: 200px;
}
.content-slider__background .content-slider--dt-md hr {
	display: none;
}
.content-slider__background .content-slider--dt-md .controls {
	display: none;
}

.content-slider__background .content-slider--dt-md .container {
	position: absolute;
	top:60%;
	background-color: #fafafa;
	left:0;
	max-width: 70%;
	z-index: 1;
	min-height: 200px;
}
.content-slider__background .content-slider--dt-md .container:before {
	content:"";
	left:-2000px;
	width:2000px;
	background-color: #fafafa;
	min-height: 400px;
	position: absolute;
}

.content-slider__background .content-slider--dt-md .container.js-box-car-container {
	left:30%;
	max-width: 40%;
	z-index: 2;
	top:71%;
}
.content-slider__background .content-slider--dt-md .container.js-box-car-container:before {
	display: none;
}

@media (max-width:1023px) {
	.content-slider__background .content-slider--dt-md .container {
		max-width: 80%;
	}
	.content-slider__background .content-slider--dt-md .container.js-box-car-container {
		left:40%;
	}
	.content-slider__background .content-slider--dt-md .split-box__content {
		padding-right:2rem;
	}
} 
.content-slider__background .content-slider--dt-md .tabs {
	padding-top:3rem;
	padding-left:1rem;
}

/* digital asset management intro */

.content-slider__background .content-slider--dt-md .tab.slick-slide {
	float: none;
	display: block;
	margin-bottom: 25px;
}
.content-slider__background .content-slider--dt-md .tab.slick-slide:before {
	content: "";
	background-image: url(https://www.arup.com/images/arrow-black.svg);
	width: 20px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-slider__background .content-slider--compact .tabs a {
	margin:0 0 0 20px;
	font-size: 20px;
}
.content-slider__background .content-slider .tabs a.selected:after {
	opacity: 0;
}
.content-slider__background .content-slider .split-box__pic-wrap {
	display: none;
}
.content-slider__background .content-slider .split-box__content {
	background-color: #fafafa;
	padding-top:0.25rem;
}
.content-slider__background .content-slider .summary-info__title {
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.content-slider__background .content-slider--dt-md .summary-info__copy {
	font-size: 20px;
}
.content-slider__background .content-slider .cta-title__copy {
	font-size: 24px;
}

.content-slider__background .content-slider--mob-md {
	position: relative;
	min-height: 500px;
	background-position: 50% 50%;
	background-size: cover;
	margin-bottom:75px;
	padding:0;
	margin-top:1rem;
}
.content-slider__background .content-slider--mob-md:before {
	content:"";
	background-image: url(/images/arup-pages/digital/queensferry.jpg);
	min-height: 300px;
	max-height: 300px;
	width:100%;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
}
.content-slider__background .content-slider--mob-md .accordion {
	position: absolute;
	left:0%;
	max-width: 85%;
	top:25%;
	background-color: #fafafa;
	padding:3rem;
}
.content-slider__background .content-slider--mob-md .accordion__section {
	margin-bottom:20px;
}
.content-slider__background .content-slider--mob-md .accordion__content--spaced {
	padding-top:0;
}
.content-slider__background .content-slider--mob-md .split-box__content {
	padding:0;
}
.content-slider__background .content-slider--mob-md .summary-info__title {
	display: none;
}
.content-slider__background .content-slider--mob-md .summary-info__copy {
	margin:0;
}
.industry-carousel {
	margin-bottom: 5rem;
}
.industry-carousel header {
	margin-bottom:30px;
	position: relative;
}
.industry-carousel h2 {
	font-size: 32px;
}
@media (max-width:767px) {
	.industry-carousel h2 {
	font-size: 24px;
	}
}
.industry-carousel .industry-navigation {
	position: absolute;
	right: 0;
	top: 0;
}
.industry-carousel .industry-navigation ul {
	margin:0;
	padding:0;
}
.industry-carousel .industry-navigation ul li, .projects-carousel .projects-navigation ul li {
	display: inline-block;
	width:25px;
	height:40px;
	background-size: contain;
	cursor:pointer;
}
.industry-carousel .industry-navigation ul li:hover {
	
}
.industry-carousel .industry-navigation ul li:first-of-type, .projects-carousel .projects-navigation ul li:first-of-type {
	margin-right: 25px;
}
.industry-carousel .industry-navigation ul li.navigation__icon, .projects-carousel .projects-navigation ul li.navigation__icon {
	background-image: url(data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20width%3D%228%22%20height%3D%225%22%20viewBox%3D%220%200%208%205%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%201L4%204%200%201%22%20stroke%3D%22%23000%22%20fill%3D%22none%22%20opacity%3D%22.9%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    transform: rotate(90deg);
}
.industry-carousel .industry-navigation ul li.navigation__icon.industry__next, .projects-carousel .projects-navigation ul li.navigation__icon.projects__next {
	transform: rotate(-90deg);
}
.industry-carousel .industry-navigation ul li.navigation__icon.slick-disabled, .projects-carousel .projects-navigation ul li.navigation__icon.slick-disabled {
	opacity: 0.5;
}
.industry-carousel .industry-navigation ul li.navigation__icon:hover, .projects-carousel .projects-navigation ul li.navigation__icon:hover {
	background: url(/images/arup-pages/digital/arrow-down--red.png);
	background-repeat: no-repeat;
	background-size: contain;
}

/* alt services navigation */
.inpagenav .inpagenav-container {
display: -webkit-box;
display: -webkit-flex;
display: flex;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
justify-content: space-between;
}
#new_hub .inpagenav h2 {
font-size:24px;
}
#new_hub .inpagenav-item .inner {
	position: relative;
    margin: 0 0 1rem 0;
    padding:0 0 1rem 0;
    border-bottom: 1px solid #e3e3e3;
}
#new_hub .inpagenav .inpagenav-item .inner .background-image {
opacity:1!important;
}
#new_hub .inpagenav .inpagenav-item a.linkfill:hover .inner {
background-color:transparent;
color:initial!important;
}
#new_hub .inpagenav .inpagenav-item a.linkfill:hover .inner h4, #new_hub .inpagenav .inpagenav-item a.linkfill:hover .inner p {
color:#ff5056!important;
}

#new_hub .inpagenav .inpagenav-item h4 {
	position: absolute;
    z-index: 1;
    bottom:0;
    left: 0%;
    background-color: #fafafa;
    padding: 1rem 3rem 1rem 0.5rem;
    display: block;
    font-size: 22px!important;
    height:85px;
	display: block;
    max-width: 90%;
    width: 100%;
    margin: 0;
	transition: color .25s;
}

#new_hub .inpagenav-item .expertise-services__cta{
	position: absolute;
    right: 0;
    top: 25%;
    margin-top: 0;
}
#new_hub .inpagenav .inpagenav-item a.linkfill:hover .inner .cta circle {
	stroke: #ff5056!important;
}
#new_hub .inpagenav .inpagenav-item a.linkfill:hover .inner .cta :after {
	background-image: url(/images/arrow-red.svg)!important;
}
#new_hub .inpagenav .inpagenav-item .expertise-services__cta {
	margin-top:0;
	position: absolute;
    top: 82%;
    right: 25%;
	top:79%;
	right:20%;
    z-index: 4;
	bottom:100%!important;
}
@media (min-width: 768px) {
#new_hub .inpagenav {
	display: flex;
        display: -webkit-box;
        display: -webkit-flex;
	flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: transparent;
	}
	#new_hub .inpagenav .container {
	width: 100%;
	}
	#new_hub .inpagenav .inpagenav-container .inpagenav-item {
	display: flex;
	flex-basis: auto;
	width:31%;
	position: relative;
	margin-bottom:4%;
height:250px;
	}
	#new_hub .inpagenav .inpagenav-item a.linkfill {
    display: block;
    height: 100%;
    min-height:250px;
    width: 100%;
    top:0;
    bottom:0;
    text-decoration: none;
    z-index: 2;
	}
	#new_hub .inpagenav .inpagenav-item .inner {
	position: relative;
	height:100%;
	border: none;
	}
	#new_hub .inpagenav .inpagenav-item .inner .background-image {
	height: 100%;
    width: 100%;
    background-position: 50%;
    background-size: cover;
	}
	#new_hub .inpagenav .inpagenav-item h4 {
    width: 80%;
    padding: 1rem 3rem 1rem 0.5rem;
    font-size: 24px!important;
    margin-bottom: 0;
    height:105px;
	}

	#new_hub .inpagenav .inpagenav-item p {
	display:none;
	}
	#new_hub .inpagenav .inpagenav-item .expertise-services__cta {
    top: 82%;
    right: 25%;
	}
}
@media (min-width:1024px) {
#new_hub .inpagenav h2 {
font-size:32px;
}
	#new_hub .inpagenav .inpagenav-item a.linkfill, #new_hub .inpagenav .inpagenav-container .inpagenav-item {
min-height:300px;
	}
	#new_hub .inpagenav .inpagenav-item h4 {
	height:85px;
	}
}
/* end alt services navigation */
.projects-carousel {
	background-color:#fff;
	padding:3rem 0;
}
.projects-carousel header {
	position: absolute;
	width: 100%;
	z-index: 5;
}

.projects-carousel .projects__title h2.header__label {
	font-size:16px;
}
.projects-carousel .projects__title h3 {
       font-size:24px;
}
.projects-carousel .projects-navigation {
	position: absolute;
	right:20px;
	top:0;
}
.projects-carousel.all-content .projects-navigation {
	display: none;
}

.feature__projects-carousel .slick-track {
	display: flex;
	align-items: flex-end;
}
.projects-carousel .feature__projects-carousel .slick-slide {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.projects-carousel.all-content .feature__projects-carousel .slick-slide {
	margin-bottom: 100px;
}

.projects__item {
	margin-right:30px;
	width:328px;
	transition: all .3s;
	padding-bottom:100px;
}
.projects__item.large {
	width:440px;
	height:600px;
	margin-bottom:100px;
}

.projects__item.large .navigation__content {
	min-height:600px;
}
.projects__item.no-margin .navigation__content {
	min-height:500px;
}
r
.projects__item.no-margin {
	margin-right: 0;
}
.projects__item .preview-card__pic {
	padding-top:121%;
}

.projects__item .navigation__content {
	min-height:400px;
	height:100%;
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
}
.projects__item .navigation__content .description__container {
	position: absolute;
	left:0;
	right:20%;
	bottom:-15%;
	background-color: #fff;
	padding:20px 20px 0px 10px;
}
.all-content .projects__item .navigation__content .description__container {
	bottom:-35%;
}
.projects__item.large .navigation__content .description__container {
	bottom:-5%;
	right:35%;
}
.all-content .projects__item.large .navigation__content .description__container {
	bottom:-15%;
}
.projects__item .navigation__content .description__container .project__name {
	font-size: 18px;
    color: #b2b2b2;
    margin-bottom: 10px;
    display: block;
}
.projects__item .navigation__content .description__container h3 {
	font-size:24px;
}
.all-content .projects__item .navigation__content .description__container p {
	font-size: 16px;
}
	
@media (max-width: 767px) {
	.projects-carousel .projects-navigation {
		display: none;
	}
	.projects-carousel header {
		position: relative;
		margin-bottom: 30px;
	}
	.projects__item.large {
		height: 400px;
	}
	.projects__item .navigation__content, .projects__item.large .navigation__content {
	min-height:300px!important;
	max-height:300px!important;
}
	.projects-carousel .project__carousel-item:nth-of-type(2) {
		display: none;
	}
	.projects__item, .projects__item.large {
		width:100%;
	}
	 .projects__item.large {
		margin-bottom: 0;
	}
}
@media (min-width: 768px) {
.projects-carousel .projects__title {
	width:300px;
	background-color: #fff;
	}
}
@media (min-width:1024px) {
    .projects-carousel .projects__title h3 {
       font-size:32px;
}
}
/* alt perspectives feature using recommended content module instead */
#perspectives__feature {
padding-top:3rem;
}
.new__styles .perspectives__heading h2, #perspectives__feature .perspectives__heading h2 {
font-size:24px;
}
.new__styles .dynamic-feat, #perspectives__feature .dynamic-feat {
	padding-top:0;
}
.new__styles .dynamic-feat header .section-header__title-wrap, #perspectives__feature .dynamic-feat .section-header__title-wrap {
display:none;
}

.new__styles .up-list .preview-copy__copy-wrap, #perspectives__feature .up-list .preview-copy__copy-wrap {
	display: none;
}
.new__styles .dynamic-feat .up-list__item .mini-profile--small .mini-profile__name, 
.new__styles .dynamic-feat .up-list__item .mini-profile--small .mini-profile__job, 
#perspectives__feature .dynamic-feat .up-list__item .mini-profile--small .mini-profile__name, 
#perspectives__feature .dynamic-feat .up-list__item .mini-profile--small .mini-profile__job,
#perspectives__feature .dynamic-feat__hero .mini-profile--small .mini-profile__name, 
#perspectives__feature .dynamic-feat__hero .mini-profile--small .mini-profile__job, 
.dynamic-feat__hero .mini-profile--small .mini-profile__name,
.dynamic-feat__hero .mini-profile--small .mini-profile__job, 
.dynamic-feat .mini-profile--small .mini-profile__name,
.dynamic-feat .mini-profile--small .mini-profile__job {
font-size:13px!important;
margin-bottom:0!important;
}

@media (min-width: 768px) {
	.new__styles .dynamic-feat, #perspectives__feature .dynamic-feat {
    display:-ms-grid;	
    display: grid;
    -ms-grid-columns: 32% 66%;
    grid-template-columns: 32% 66%;
    grid-gap: 2%;
    grid-auto-rows: minmax(auto, auto);
    grid-auto-flow: dense;
    margin-bottom:1rem;
    padding-bottom: 40px;
    border-bottom: 1px solid #e9e9e9;
    padding-top:1.5rem;
    padding-left:0;
    padding-right:0;
}
.new__styles .dynamic-feat__hero, #perspectives__feature .dynamic-feat__hero {
	margin-bottom: 0;
}
.new__styles .preview-card--hero, #perspectives__feature .preview-card--hero {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.new__styles .preview-card--hero .preview-card__header, .new__styles .preview-card--hero .preview-card__content, #perspectives__feature .preview-card--hero .preview-card__header, #perspectives__feature .preview-card--hero .preview-card__content {
	width: 100%;
	min-height: 0;
}
.new__styles .preview-card--hero .preview-card__header.preview-card__header--pub, #perspectives__feature .preview-card--hero .preview-card__header.preview-card__header--pub {
	min-height:19rem;
}
.new__styles .preview-card--hero .preview-card__header.preview-card__header--pub .pub-preview, #perspectives__feawture .preview-card--hero .preview-card__header.preview-card__header--pub .pub-preview {
	background-color: transparent;
}
.new__styles .preview-card--hero .preview-card__header.preview-card__header--pub .pub-preview:before, #perspectives__feature .preview-card--hero .preview-card__header.preview-card__header--pub .pub-preview:before {
	content: "";
	position: absolute;
	z-index: 0;
	top:30%;
	bottom:0;
	left:0;
	right:0;
	background-color: #e9e9e9;
}
.new__styles .preview-card--hero .preview-card__header.preview-card__header--pub .pub-preview .pub-preview__pic, #perspectives__feature .preview-card--hero .preview-card__header.preview-card__header--pub .pub-preview .pub-preview__pic {
	margin:0 0 20px 0px;
}
.new__styles .preview-card--hero .preview-card__content, #perspectives__feature .preview-card--hero .preview-card__content {
	padding:1rem 1.5rem;
}
.new__styles .preview-card--hero .preview-card__pic, #perspectives__feature .preview-card--hero .preview-card__pic {
	padding-top: 66%;
}
.new__styles .preview-card--hero .preview-copy__title, #perspectives__feature .preview-card--hero .preview-copy__title {
	font-size: 24px;
}
.new__styles .preview-card__cta.preview-card__cta--foot, #perspectives__feature .preview-card__cta.preview-card__cta--foot {
	display: none;
}
.new__styles .dynamic-feat__list .up-list, #perspectives__feature .dynamic-feat__list .up-list{
	display: -ms-grid;
       display:grid;
        -ms-grid-columns:48.5% 48.5%;
        grid-template-columns: 48.5% 48.5%;
	grid-gap: 2.75%; 
}
.new__styles .dynamic-feat__list, #perspectives__feature .dynamic-feat__list  {
-ms-grid-column:2;
}
.new__styles .dynamic-feat__list .up-list li, #perspectives__feature .dynamic-feat__list .up-list li {
	width: 100%;
	position: relative;
	margin-left:0;
}
.new__styles .dynamic-feat__list .up-list li:nth-child(1), 
#perspectives__feature .dynamic-feat__list .up-list li:nth-child(1) {
-ms-grid-row:1;
}
.new__styles .dynamic-feat__list .up-list li:nth-child(2), 
#perspectives__feature .dynamic-feat__list .up-list li:nth-child(2), 
.new__styles .dynamic-feat__list .up-list li:nth-child(3), 
#perspectives__feature .dynamic-feat__list .up-list li:nth-child(3) {
-ms-grid-row:2;
}
.new__styles .dynamic-feat__list .up-list li:nth-child(3), 
#perspectives__feature .dynamic-feat__list .up-list li:nth-child(3) {
-ms-grid-column:2;
}
.new__styles .dynamic-feat__list .up-list li:nth-child(1), #perspectives__feature .dynamic-feat__list .up-list li:nth-child(1) {
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  margin-bottom: 0;
}

.new__styles .up-list li:nth-child(1) .preview-card, .new__styles .up-list li:nth-child(1) .preview-card__header--pub, .new__styles .up-list li:nth-child(1) .preview-card__header--pub .pub-preview, #perspectives__feature .up-list li:nth-child(1) .preview-card, #perspectives__feature .up-list li:nth-child(1) .preview-card__header--pub, #perspectives__feature .up-list li:nth-child(1) .preview-card__header--pub .pub-preview {
	max-height: 300px;
    height: 100%;
    min-height: 300px;
}
 .new__styles .up-list li:nth-child(1) .preview-card__header--pub, .new__styles .up-list li:nth-child(1) .preview-card__header--pub .pub-preview, #perspectives__feature .up-list li:nth-child(1) .preview-card__header--pub, #perspectives__feature .up-list li:nth-child(1) .preview-card__header--pub .pub-preview {
	padding-top:0;
}

.new__styles .up-list li:nth-child(1) .preview-card__header--pub .pub-preview .pub-preview__pic, .perspectives__feature .up-list li:nth-child(1) .preview-card__header--pub .pub-preview .pub-preview__pic {
	background-position: 0% 50%;
}
.new__styles .up-list li:nth-child(1) .preview-card__header--pic, #perspectives__feature .up-list li:nth-child(1) .preview-card__header--pic {
	position: relative;
	width:100%;
	height: 300px;
	min-height:300px;
	max-height:300px;
}
.new__styles .up-list li:nth-child(1) .preview-card__header--pic .preview-card__pic, #perspectives__feature .up-list li:nth-child(1) .preview-card__header--pic .preview-card__pic {
    position: absolute;
    top: 0;
    padding-top: 0;
    bottom: 0;
    width: 100%;
}
.new__styles .up-list li:nth-child(1) .preview-card__content, #perspectives__feature .up-list li:nth-child(1) .preview-card__content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    background-color: #fff;
}

.new__styles .up-list li:nth-child(2) .preview-card__pic, .new__styles .up-list li:nth-child(3) .preview-card__pic, #perspectives__feature .up-list li:nth-child(2) .preview-card__pic, #perspectives__feature .up-list li:nth-child(3) .preview-card__pic {
	padding-top:50%;
}
.new__styles .up-list li:nth-child(2) .preview-card__header--pub, .new__styles .up-list li:nth-child(3) .preview-card__header--pub, #perspectives__feature .up-list li:nth-child(2) .preview-card__header--pub, #perspectives__feature .up-list li:nth-child(3) .preview-card__header--pub {
	background-color: #fafafa;
	padding-top:50%;
}
.new__styles .up-list li:nth-child(2) .preview-card__header--pub:before, .new__styles .up-list li:nth-child(3) .preview-card__header--pub:before, #perspectives__feature .up-list li:nth-child(2) .preview-card__header--pub:before, #perspectives__feature .up-list li:nth-child(3) .preview-card__header--pub:before {
	position: absolute;
	content: "";
	top:35%;
	bottom:0;
	left:0;
	right: 0;
	z-index: 0;
	background-color: #e9e9e9;
}
.new__styles .up-list li:nth-child(2) .preview-card__header--pub .pub-preview, .new__styles .up-list li:nth-child(3) .preview-card__header--pub .pub-preview, #perspectives__feature .up-list li:nth-child(2) .preview-card__header--pub .pub-preview, #perspectives__feature .up-list li:nth-child(3) .preview-card__header--pub .pub-preview {
	padding-top: 0
}
.new__styles .up-list li:nth-child(2) .preview-card__header--pub .pub-preview__pic, .new__styles .up-list li:nth-child(3) .preview-card__header--pub .pub-preview__pic {
	margin:0 0 10px 0;
}

}
@media (min-width: 1024px) {
	.new__styles .dynamic-feat, #perspectives__feature .dynamic-feat {
		padding:3rem 0 0 0;
	}
	.new__styles header h2, #perspectives__feature header h2 {
		font-size: 32px;
	}
	.new__styles .preview-card--hero .preview-card__content, #perspectives__feature .preview-card--hero .preview-card__content {
	padding:1.4rem 2.5rem;
	}
	.new__styles .up-list li:nth-child(1) .preview-card__content, #perspectives__feature .up-list li:nth-child(1) .preview-card__content {
		left:57.5%;
	}
	.new__styles .up-list li:nth-child(1) .preview-card__header--pub .pub-preview .pub-preview__pic, #perspectives__feature .up-list li:nth-child(1) .preview-card__header--pub .pub-preview .pub-preview__pic {
	background-position: 20% 50%;
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     #new_hub #perspectives__feature .dynamic-feat, .new__styles .dynamic-feat {
     -ms-grid-columns: 34% 66%;
     }
     .new__styles .dynamic-feat__hero, #perspectives__feature .dynamic-feat__hero {
       margin-right:20px;
margin-bottom:20px;
     }
     .new__styles .dynamic-feat__list .up-list, #perspectives__feature .dynamic-feat__list .up-list {
     -ms-grid-columns: 50% 50%;
     }
     .new__styles .dynamic-feat__list .up-list li:nth-child(1), #perspectives__feature .dynamic-feat__list .up-list li:nth-child(1) {
      margin-bottom:20px
     }
     new__styles .dynamic-feat__list .up-list li:nth-child(3), 
     #perspectives__feature .dynamic-feat__list .up-list li:nth-child(3) {
     padding-left:20px;
      }
}
.dynamic-feat .section-header__title-wrap {
display:none;
}
/* end alt perspectives feature*/
	
	
#new_hub hr.contact-us__topline {
	display:none;
}
#new_hub .multicontact.contact-us__top-section.rich-text  {
margin-bottom:0;
}
#new_hub .contact-us__top-section .rich-text__content {
	width:100%;
}

#new_hub .multicontact.contact-us__contact {
	padding: 0;
	margin:20px 0 50px 0;
}

#new_hub .contact-us__contact.multicontact .container {
	display:-ms-grid;
        display: grid;
       -ms-grid-columns: 31.5% 31.5% 31.5%;
	grid-template-columns: 31.5% 31.5% 31.5%;
  	grid-gap: 2.75%;
}	
#new_hub .multicontact.contact-us__contact .mini-profile {
	height:auto;
	min-height: auto;
	max-height: 100%;
	flex-direction: column;
	justify-content: center;
	background-color: #f2f2f2;
	width:initial!important;
	padding:40px 30px 20px;
	margin: 0 0 10px 0;
}

#new_hub .multicontact.contact-us__contact .mini-profile__pic-wrap {
	align-self: center;
	margin-bottom: 20px;
	padding: 0;
}
#new_hub .multicontact.contact-us__contact .mini-profile__pic-wrap .mini-profile__pic {
	width:125px;
	height:125px;
}
#new_hub .mini-profile__icon.icon.icon-profile {
	display: none;
}
#new_hub .mini-profile__name {
	font-size: 24px;
	margin-bottom: 10px;
}
	#new_hub .mini-profile__job {
	font-size:18px;	
	}	
@media (max-width:600px) {
	#new_hub .contact-us__contact.multicontact .container {
	display: grid;
	grid-template-columns: 100%;
  	grid-gap: 2%;
	}
}
@media (min-width:601px) and (max-width:767px) {
	#new_hub .contact-us__contact.multicontact .container {
	display: grid;
	grid-template-columns: 50% 50%;
  	grid-gap: 2%;
  	padding:0;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     #new_hub .mini-profile:nth-child(1) {
-ms-grid-column:1;
-ms-grid-row:1;
       }
#new_hub .mini-profile:nth-child(2) {
-ms-grid-column:2;
-ms-grid-row:1;
       }
#new_hub .mini-profile:nth-child(3) {
-ms-grid-column:3;
-ms-grid-row:1;
       }
#new_hub .mini-profile:nth-child(4) {
-ms-grid-column:1;
-ms-grid-row:2;
       }
#new_hub .mini-profile:nth-child(5) {
-ms-grid-column:2;
-ms-grid-row:2;
       }
#new_hub .mini-profile:nth-child(6) {
-ms-grid-column:3;
-ms-grid-row:2;
       }
#new_hub .mini-profile:nth-child(7) {
-ms-grid-column:1;
-ms-grid-row:3;
       }
#new_hub .mini-profile:nth-child(8) {
-ms-grid-column:2;
-ms-grid-row:3;
       }
#new_hub .mini-profile:nth-child(9) {
-ms-grid-column:3;
-ms-grid-row:3;
       }
#new_hub .multicontact.contact-us__contact .mini-profile {
width:95%!important;
margin-bottom:20px;
        }
}

/* fullbleed image related service */

#new_hub .fullbleed--secondary .fullbleed__content--light {
	margin:0;
	/*top:initial;*/
	bottom:0;
	transform: none;
	background-color: #fff;
}
#new_hub .fullbleed--secondary .fullbleed__content--light:before {
	content: "";
	position: absolute;
	left:-10000px;
	right:100%;
	bottom:0;
	top:0;
	background-color:#fff;
}
#new_hub .fullbleed__content .intro--bold {
	font-style: normal;
	font-size: 16px;
	margin-bottom: 0;
	font-weight: normal;
}
#new_hub .fullbleed__content .cta, #new_hub .fullbleed__content .cta p {
	font-size: 24px;
	font-style: normal;
	letter-spacing: initial;
	line-height: 1;
	transition: color 0.25s;
       font-weight:normal;
}
#new_hub .fullbleed__content .cta:hover, #new_hub .fullbleed__content .cta:hover p {
	color:#ff5056;
}
@media (max-width:767px) {
	#new_hub .fullbleed--hero.fullbleed--secondary .progressiveMedia {
	min-height:300px;
	}
	#new_hub .fullbleed--secondary .fullbleed__container {
	position: absolute;
	bottom: 0;
	left:0;
	padding:0;
	}
	#new_hub .fullbleed--secondary .fullbleed__content--light {
		max-width: 65%;
		padding:1.5rem;
	}
}
@media (min-width:768px) {
	#new_hub .fullbleed--secondary.fullbleed--hero{
	height:600px;
	}
	#new_hub .fullbleed--secondary.fullbleed--hero img.mainImg, #new_hub .fullbleed--secondary.fullbleed--hero .progressiveMedia:after  {
	min-height: 115%;
	}
	#new_hub .fullbleed__content .intro--bold { 
		font-size: 20px
	}
	#new_hub .fullbleed__content .cta, #new_hub .fullbleed__content .cta p, #new_hub .fullbleed__content .cta span {
		font-size: 32px;
	}
       #new_hub .fullbleed__content .cta--small .icon {
                width:2.5rem;
                height:2.5rem;
         }
         #new_hub .fullbleed__content .cta--small .icon:after, #new_hub .fullbleed__content .cta--small .icon:before {
                 height:0.6rem;
                 width:0.9rem;
          }
}
@media (min-width:1024px) {
	.text-content .fullbleed:first-child, .text-content .highlight-section:first-child {
		margin-top:0;
	}
}
.split-pic__video {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    min-height: 375px;
    line-height: 1;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.split-pic__video video{
	height: 100%;
    width: 100%;
    object-fit: cover;
}

.split-pic--flip.advert .split-pic__inner {
    padding-right: 0;
    padding-left: 6rem;
}
.split-pic.advert .split-pic__content {
	min-height:30rem;
}
@media (min-width:1024px) {
.split-pic.fullbleed--video .split-pic__inner, .split-pic.advert .split-pic__inner {
	padding:4rem 6rem 4rem 0;
}
}
.single-slider .container:first-of-type {
	display: none;
}
@media (max-width:767px) {
.content-slider .split-box__pic {
padding-top:60%;
}
}
.learn-more {
	position: relative;
}
.learn-more__inner {
	position: relative;
}
.learn-more:before {
	position: absolute;
	content: "";
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(0,0,0,0.4);
	z-index: 0;
}
.rich-text a.anchor {
position:absolute;
top:-140px;
left:0;
}