/* building blocks */
section, article {
	position: relative;
}
.white, .white p, .white h2, .white h3 {
	color:#fff;
}

p {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 1rem;
}

h2 {
	font-size: 24px;
}
h3 {
	font-size: 22px;
}
.large__text p {
	font-size: 18px;
}
.large__text h2 {
	font-size: 24px;
}

.full__height {
	width:100%;
	min-height: 100vh;
}
.full__height.review__panel {
	height:65vh;
	min-height: 65vh;
}

.flex__center {
	display: flex;
	align-items: center;
}

.flex__top {
	display: flex;
	align-items: flex-start;
}
.flex__bottom {
	display: flex;
	align-items: flex-end;
}
.extra__wide, .extra__wide .rich-text .rich-text__content {
	width:100%;
	margin:auto;
	max-width: 968px;
}
.extra__extra-wide {
	width:100%;
	max-width: 1280px;
	margin: 0 auto;
}
.section__container {
	width: 100%;
}
.padding {
	padding:3rem;
}

/* main banner navigation */
.utility-bar {
	bottom: 2.5%;
	background-color: transparent;
}
.utility-bar.stuck {
	background-color: #e9e9e9;
	height: 64px;
}
.sub-navigation__container {
	position: absolute;
	bottom:7.5%;
	width: 100%;
	z-index: 3;
}
ul.sub-navigation  {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
}
ul.sub-navigation li {
	color: #fff;
	max-width: 193px;
	text-align: center;
	font-size: 16px;
	font-style: italic;
	line-height:1.25;
}
.utility-bar.stuck .sub-navigation__container li {
	color:#333;
}

/* media backgrounds */
.media__background-container {
	height:100vh;
	width:100%;
	position: absolute;
	z-index: -1;
}
.media__background-container:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
.media__background-container video, .media__background-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* review stats information */
.review__panel {
	z-index: 2;
}
.stat__container {
	display: block;
	width: 100%;
	clear: both;
}
.stat {
    font-size: 72px;
    line-height: 82px;
    display: inline-block;
    color: #ffffff;
    margin-right: 10px;
}
.stat__container.right-align {
    float: right;
}
.stat__description {
    font-size: 28px;
    display: inline-block;
    color: #ffffff;
}
.map__container {
	width:100%;
	margin:0 auto;
	display: flex;
	flex-direction: column;
}
.map__container .left__side {
	width:100%;
	display: flex;
	align-items: center;
}
.map__container .right__side {
	width:100%;
	position: relative;
	height: 100%;
	width:100%;
}
/* project locations */
.map__container img {
	display: none;
}
ul.map__locations {
	list-style: none;
	padding:0;
	width: 100%;
}

ul.map__locations li {
	width:49%;
	height:100%;
	position: relative;
	display: inline-block;
}

.map__label {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #44928a;
    position: relative;
}
.map__label .continent, .map__label .projects {
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	color:#fff;
}
.map__label .continent {
	text-transform: uppercase;
	max-width: 75px;
	text-align: center;
	top:15%;
	line-height: 18px;
}
.map__label.uk .continent, .map__label.europe .continent, .map__label.africa .continent, .map__label.aus .continent, .map__label.asia .continent {
	top:25%;
}
.map__label .projects {
	bottom:2.5%;
	font-size: 36px;
}
.map__label.uk .projects, .map__label.europe .projects, .map__label.africa .projects, .map__label.asia .projects, .map__label.aus .projects {
	bottom:8.5%;
}
/* end proiject locations */
/* chapter cover */
.chapter__title-container {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 100%;
    z-index: 2;
}
.chapter__title-container p {
	font-size: 20px;
}
.chapter__title-container .panel__scrollIcon {
	bottom:-40%;
}
.chapter__caption-container {
    position: absolute;
    right: 7.5%;
    bottom: 7.5%;
    z-index: 2;
}
.chapter__caption-name, .project__name {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    line-height: .65;
}
/* sideways scrolling for sustainability */
 .panel {
 	padding: 0;
 }
 .project__content {
 	z-index: 3;
 	position: relative;
 	padding:0;
 } 
 .project-description .split-pic {
 	display: flex;
 	flex-direction: column-reverse;
 }
 .project-description .split-pic__pic-wrap {
 		margin-bottom:3rem;
 	}
 .project__content .split-pic__content{
 	width:100%;
 	max-width: 100%;
 }  
 .project-cover .split-pic__inner {
 	width: 100%;
 	padding:2rem 0rem 0rem 0rem;
 }
 .project-cover .project__content p {
 	font-size: 20px;
 }
 .project__content .section__container {
 	margin-bottom:10rem;
 }
 .project__details {
 	width: 50%;
 }
.project-cover .nav-panel, .project-navigation .nav-panel {
	margin:0;
	padding:0;
}
.project-navigation {
	display: none;
}
@media (min-width: 768px) {
	.stat__container {
	width: 40%;
	}
	.chapter__details {
	width: 75%;
	margin: auto;
	}
	.full__height.review__panel {
	height:80vh;
	min-height: 80vh;
	}
	.map__container img {
	display: block;
	}
	.map__container ul {
		display: none;
	}	
}
@media (max-width:1023px) {
	.fullbleed.fullbleed--new .fullbleed__inner {
	height:85vh;
	}
	.fullbleed__alt-content {
		position: absolute;
		top:50%;
		transform: translate(-50%, -50%);
		left:50%;
	}
}
@media (min-width: 1024px) {
	.fullbleed.fullbleed--new .fullbleed__alt-content .container--3col .col__main {
    width: 968px;
    margin: auto;
}
	.map__container {
	flex-direction: row;
	}
	.map__container .left__side {
	width:35%;
	padding-right:3rem;
	padding-left:5rem;
	}
	.map__container .right__side {
	width:65%;
	padding-right:3rem;
	position: relative;
	}
	.chapter__details {
	width: 50%;
	}
	#sustainable-projects, #transforming-projects {
  	position: relative;
  	width: 100%;
 	height: auto;
  	overflow: hidden;
  	display: block; 
	}
	#sustainable-projects #sustainable__panels-container, #transforming-projects #transforming__panels-container {
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: hidden;
    width:400%;
 }
	.project-cover .split-pic__inner {
 	width: 45%;
 	padding:0 0 0 6rem;
 	}
 	.project-descrption .split-pic {
 		display: block;
 	}
 	.project-description .split-pic__pic-wrap {
 		margin-bottom:0rem;
 	}
 	.project-description .split-pic__content {
 	min-height: 35rem;
 	}
 	.project-description .split-pic__pic-wrap {
 		left: 50%;
 	}
 	.project-description .split-pic__inner {
 		padding:2rem 6rem 0rem 6rem;
 		width:50%;
 		max-height: 560px;
 		overflow: hidden;
 	}
 	.project-navigation {
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	top:85%;
	z-index: 3;
	display: block;
}
.panels-navigation.back, .panels-navigation.next {
	position: absolute;
	left:10%;
	top:50%;
	transform: translateY(-50%);
}
.panels-navigation.next {
	left:initial;
	right:10%;
}
.project__content .cta {
	font-size: 1.35rem;
}
.project__content .cta.normal {
	font-size: 1.12rem;
}
/* back icon */
.cta.back--icon .icon:after, .cta.back--icon .icon:before, .back--icon .cta__icon:after, .back--icon .cta__icon:before {
	transform: translate(-50%,-50%) rotate(180deg);
}
a.cta.back--icon {
	padding-left:3.5rem;
}
.cta.back--icon .icon {
	left:0;
}
.cta.back--icon .icon:before, .back--icon .cta__icon:before {
	left:115%;
}
.cta.back--icon .icon:after, .back--icon .cta__icon:after {
	left:50%;
}
.cta.back--icon .icon:after {
	opacity: 1;
}
.cta.back--icon:hover .icon:after {
	left:-50%;
}
.cta.back--icon:hover .icon:before {
	left:50%;
	opacity: 1;
}

}

@media (min-width: 1280px) {
p {
	line-height: 1.4;
	margin: -bottom:1.3rem;
}
h2 {
	font-size: 48px;
	}
h3 {
	font-size: 32px;
	}
.large__text p {
	font-size: 20px;
	}
.large__text h2 {
	font-size: 48px;
	}
.stat {
    font-size: 102px;
    line-height: 112px;
	}
.project-description .split-pic__pic-wrap {
 		left: 45%;
 	}
 .project-description .split-pic__inner {
 		width:45%;
 	}
}