.rich-text.feature {
	margin-left:0;
}

.demo .up-list {
    padding-bottom:4rem;
}
.demo .up-list__item {
    width:33%;
    margin-left:0.5%;
    margin-bottom:0.5%;
}
.demo .preview-card__content.image:before {
    background-color:rgba(233,233,233,0.85);
    content:"";
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    z-index: 2;
}
.demo .preview-copy {
    position: relative;
    z-index: 3;
}
.up-list__item--four:nth-child(4n+1), .demo .up-list__item:first-child {
    margin-left:0;
}
.demo .up-list__item:nth-child(4) {
    margin-left:0;
}
.demo.container .preview-card__content {
    background-color:#e9e9e9;
}
.demo .preview-card__content {
    align-items: center;
}
.demo .preview-copy {
    padding-bottom: 0;
    margin:4rem 0;
}
.demo .preview-copy__copy {
    opacity:0.75;
}
.preview-copy__copy-wrap .cta--lg .icon {
    left:0;
}

/* general changes for presentation */
ol li, ul li {
	font-size:20px;
}

/* CTA changes 
.alternative .cta {
	font-size: 20px;
	font-weight: bold;
	font-family: "helvetica";
}*/

/* video carousel */
.video-carousel.alternative .progressiveMedia.show_desktop::after, .video-carousel.alternative .progressiveMedia.show_desktop::after {
		content: "";
	   position: absolute;
	   bottom: 0;
	   top: 0;
	   left: 0;
	   right: 0;
	   background-color: rgba(0,0,0,0.15);
	   z-index: 2;
}

/* second carousel changes - increase text max-width */
.full-carousel.alternative .full-carousel__content {
	max-width:750px;
}

.full-carousel.alternative .progressiveMedia.show_desktop::after {
	   content: "";
	   position: absolute;
	   bottom: 0;
	   top: 0;
	   left: 0;
	   right: 0;
	   background-color: rgba(0,0,0,0.15);
	   z-index: 2;
}

@media (min-width: 768px) {
	.industries-carousel.alternative .industry-item__image {
		display: none;
	}

	.industries-carousel.alternative .industry-item {
		margin-bottom: 0;
    background: #b2b2b2 none scroll no-repeat 50%;
    background-size: cover;
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: flex!important;
	}

	.industries-carousel.alternative .industry-item__contentwrap {
		min-height: 65vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    width: 100%;
	}
	.industries-carousel.alternative .industry-item__content {
	display: block;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .8)), to(transparent));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .8), transparent);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent);
    z-index: 3;
    color: #fff;
    width: 100%;
    position: relative;
    padding: 200px 20px 40px;
	}

	.industries-carousel.alternative .industry-item-content p {
		color:#fff;
	}

}

/* industries carousel */

.industries-carousel.alternative .filter {
	font-size:20px;
	font-weight:bold;
	font-family: "Helvetica"
}

/* Quotes */

.large-quote.alternative .cta {
	margin:20px 0 0 0;
}

.quote-container.alternative .cta {
	margin-top:20px;
}

.large-quote.alternative .people, .quote-container.alternative .people {
	font-size: 16px;
}

@media (min-width: 1280px) {
	.large-quote.alternative .cta {
	margin-left:50px;
	}

	.quote-container.alternative .cta {
		margin-left:50px;
	}
}

/* contact us module */

@media (max-width:768px) {

	.contact-us--in-page.alternative .mini-profile__main {
		margin:auto;
		width:initial;
	}

	.contact-us--in-page.alternative .mini-profile__pic-wrap {
		margin: auto;
	}
}

/* alternative publications module */

.publications.alternative {
padding:2rem 0 2rem;
}

.publications.alternative .container {
	max-width:902px;
}

.publications.reveal.alternative .title { 
	font-size:16px;
	color:#343434;
}

.publications.reveal.alternative h2 {
	font-size: 24px;
}

.publications.alternative img {
	max-width: 150px;
	margin:2rem auto;
}

@media (min-width: 768px) {

	.publications.alternative .highlight-section {
		margin-top:0;
	}

	.publications.alternative .publications__heading {
		width:75%;
		float:left;
	}

	.publications.reveal.alternative h2 {
	font-size:32px;
	}

	.publications.reveal.alternative p {
		font-size:20px;
		margin-bottom:1.5rem;
	}

	.publications.alternative img {
		position: initial;
		float:right;
		transform: initial;
		-ms-transform: translateY(0px);
		margin:0;
	}
}

/* recommended content module */
@media (min-width:768px) {
	.dynamic-feat.alternative .up-list .cta {
		display: none;
	}
}

@media (max-width:767px) {
	.dynamic-feat.alternative .up-list .preview-card__pic {
		display: none;
	}

	.dynamic-feat.alternative .up-list__item {
		margin-bottom:20px;
	}
}

/* news ticker */
	.news-ticker.alternative .news-ticker__articles {
		width:70%;
	}

	@media (min-width: 768px) {
		.news-ticker.alternative .news-ticker__articles .article {
			padding-right:0;
		}

		.news-ticker.alternative .cta {
		position:relative;
		top:0;
		padding-top:0;
		display: table;
		width:100%;
		font-family: initial;
			font-weight: initial;
		}

		.news-ticker.alternative .news-ticker__articles .article h3 {
			width:80%;
			display: inline-block;
			margin-bottom: 0
		}

		.newsticker.alternative .cta {
			font-family: initial;
			font-weight: initial;
		}

		.news-ticker.alternative .cta span {
			position: initial;
			display: table-cell;
			vertical-align: middle;
			transform: translateY(0);
		}
	}

/* Publications */

@media (min-width:768px) {
	ul.alternative li.item-shelf__item {
		width:20%;
	}

	.item-shelf__item.item-shelf__item:nth-of-type(4n+1) .item-shelf__copy-wrap:before {
		content:"";
		position:initial;
	}

	.item-shelf__item.item-shelf__item:first-of-type .item-shelf__copy-wrap::before, .item-shelf__item.item-shelf__item:nth-of-type(5n+1) .item-shelf__copy-wrap:before {
	content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    left: -100vw;
    right: -100vw;
    top: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
	}

	.alternative-timeline .preview-card__pic {
		background-color:#fff;
	}

	.alternative-timeline .preview-card__date {
		display: none;
	}

	.alternative-timeline .preview-card__main {
		min-height:175px;
	}

	.alternative-timeline .tl-ctrl__scroller.js-timeline-scroller {
		display:none;
	}

	.alternative-timeline .tl-ctrl {
		padding-top:4rem;
	}

	.alternative-timeline .tl-ctrl__button--prev {
		right:calc(50% + 40px);
	}

	.alternative-timeline .tl-ctrl__button--next {
		left: calc(50% + 40px);
	}
}

/* careers revamp demo */
@media (min-width:768px) {
	.hero.hero--headerimage.hero--careers h1 {
		font-size:50px;
	}

	.hero__content .intro {
		margin-top:1rem;
	}

	.page-search.alternative {
		width:49%;
		float: left;
	}
	.page-search.alternative:last-child {
		margin-left:2%;
	}

	.alternative .split-pic__content {
		min-height:32rem;
	}

	.alternative .link-brick__title {
		font-weight: bold;
		font-family: "Helvetica"
	}

	.alternative .link-brick__copy {
		font-size:18px;
	}
}

/* rail page amends - carousel */
 @media (min-width: 1024px) {
.fullbleed.fullbleed-carousel {
  height:700px;
}
}
.fullbleed-carousel__slides {
	overflow: visible;
}
.fullbleed.fullbleed-carousel .container {
  position: initial;
  z-index: 1000;
}
.fullbleed-carousel .slick-slide:before {
  content:"";
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background:rgba(0,0,0,0.15);
  z-index: 2;
}
.fullbleed-carousel .slick-list:after {
  content:none;
}
.fullbleed-carousel .fullbleed__content {
	max-width:696px;
}
.fullbleed-carousel__detail {
	font-size:18px;
	bottom:4px;
	margin:1.5rem 0;
	color:transparent;
}
.fullbleed-carousel__detail .divider {
	display: none;
}
.fullbleed-carousel__detail .fullbleed-carousel__controls {
	max-width: 1160px;
	width:100%;
	position: absolute;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
top:5px;
}
.fullbleed .icon-next, .fullbleed .icon-prev {
	height:18px;
	width:18px;
	position: absolute;
}

.fullbleed .icon-next {
	right:0;
}

.fullbleed .icon-prev {
	left:0;
}
/* dots */
.fullbleed-carousel .slick-dots {
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 1001;
}
.fullbleed-carousel .slick-dots li {
    display: inline-block;
    margin-right: 8px;
}
.fullbleed-carousel .slick-dots li button {
    -webkit-transition: all .5s;
    transition: all .5s;
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #e9e9e9;
    font-size: 0;
    line-height: 0;
    border: none;
    padding: 0;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
}
.fullbleed-carousel .slick-dots li.slick-active button {
    background: #ff5056;
}
@media (max-width:1023px) {
	.fullbleed-carousel__detail {
		width:100%;
		bottom:-50px;
	}
	.fullbleed-carousel .slick-dots {
		bottom:-45px;
	}
	.fullbleed-carousel__detail .fullbleed-carousel__controls {
		top:100%;
	}
}
@media (min-width:768px) {
	.fullbleed-carousel .fullbleed__content {
		position: absolute;
		top:50%;
		-webkit-transform:translateY(-50%);
		-ms-tranform:translateY(-50%);
		-transform: translateY(-50%);
		z-index:2;
		margin-left:92px;
	}
	.fullbleed-carousel .fullbleed__content h2 {
	color:#fff;
}
}
@media (max-width:767px) {
	.fullbleed.fullbleed-carousel {
		overflow: visible;
	}
	.fullbleed-carousel .slick-list {
		overflow: visible!important;
	}
	.fullbleed-carousel .slick-slide {
		overflow: visible;
	}
	.fullbleed-carousel .fullbleed__content {
		color:rgba(52,52,52,1);
	}
	.fullbleed-carousel .fullbleed__content .cta__text, .fullbleed-carousel .fullbleed__content .cta span:not(.icon), .cta__icon {
		color:rgba(52,52,52,1);
	}
	.fullbleed-carousel .fullbleed__container {
		margin-top:-3rem;
	}
	.fullbleed-carousel .fullbleed__content {
		position: relative;
		z-index: 2;
		background-color:#fff;
		padding:10px;
	}
	.fullbleed-carousel .fullbleed-carousel__detail {
		display: none;
	}
	.fullbleed-carousel .slick-dots {
		position: initial;
		transform: translateX(0);
		-webkit-transform:translateX(0);
		-ms-transform:translateX(0);
		margin-top:5rem;
	}
}
@media (max-width:480px) {
	.fullbleed-carousel .slick-dots {
		margin-top:6.5rem;
	}
}


/* fix for new contact us module */

@media (max-width:1279px) {
.multicontact.contact-us__top-section .container, .multicontact.contact-us__top-section .rich-text {
.margin-left:0;
width:100%;
}
.multicontact.contact-us__top-section .container h2, .multicontact.contact-us__top-section .rich-text h2 {
font-size:24px;
}
.multicontact.contact-us__top-section .container p, .multicontact.contact-us__top-section .rich-text p {
font-size:18px;
}
}

/* fix for new style banner used on industry / service pages */
.fullbleed.fullbleed--new .fullbleed__alt-content {
	background-image: none;
}
/* amendments to multicontact us for use on fellows and leaders */
.fellows .mini-profile {
	display: block;
}
.fellows.multicontact.contact-us__contact .mini-profile {
	height:100%;
	width:100%;
	max-height: 100%;
}

.fellows.multicontact.contact-us__contact .mini-profile__info-item--email, .fellows.multicontact.contact-us__contact .mini-profile__info-item--tel {
	display: none;
}
.fellows .mini-profile__main {
	padding-top:10px;
}
.fellows .mini-profile__name {
	font-size:20px;
}
.fellows .mini-profile__job {
font-size:16px;
}
.fellows .mini-profile .mini-profile__pic {
		width:75%;
		height:auto;
		margin:auto;
		display: block;
	}
@media (max-width:479px) {
	.fellows.multicontact.contact-us__contact .mini-profile {
		width:100%!important;
	}
	.fellows .mini-profile .mini-profile__pic {
		width:50%;
	}
	.fellows .mini-profile:not(:first-child) {
		margin-top:0;
	}
}
@media (min-width:480px) and (max-width:767px) {
	.fellows.multicontact.contact-us__contact .mini-profile {
		width:50%!important;
	}
}
@media (min-width:768px) {
	.fellows.multicontact.contact-us__contact .mini-profile {
		width:33.3333%!important;
	}
}
@media (min-width:1280px) {
	.fellows.multicontact.contact-us__contact .mini-profile {
		width:25%!important;
	}
}

/* image overlay amendments for fullwidth */
@media (min-width:1024px) {
.fullbleed--hero .fullbleed__container--left {
	padding-left:0;
	} 
.fullbleed--hero .fullbleed__container--left .fullbleed__content {
	margin-left:20%;
	width:60%;
	max-width:696px!important;
}
 
.fullbleed--hero .fullbleed__container--left h2 {
	font-size:32px;
}
.fullbleed--hero .fullbleed__content .list--links li a {
	font-size:20px;
}
}
/*
@media (min-width:768px) and (max-width:1023px) {
.fullbleed--hero .fullbleed__content {
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 2;
    margin-left: 92px;
    color:#fff!important;
}
.fullbleed--hero .fullbleed__content p, .fullbleed--hero .fullbleed__content .cta--reverse span:not(.icon) {color:#fff;}
.fullbleed--hero .fullbleed__content .cta--reverse .icon:before {
	background-image:url(https://www.arup.com/images/arrow-white.svg);
}
.fullbleed--hero .fullbleed__content .cta--reverse .icon svg circle {
	stroke:#fff;
}
.fullbleed--hero .fullbleed__content .cta:hover span:not(.icon) {
    color: #ff5056;
    }
.fullbleed--hero .fullbleed__content .cta:hover .icon svg circle {
    stroke: #ff5056;
}
.fullbleed--hero .fullbleed__content .list--links li {
	width:50%;
}
.fullbleed--hero .fullbleed__content .list--links li a {
	font-size:18px;
}
}
@media (max-width:767px) {
	.fullbleed--hero .fullbleed__content h2 {
		font-size:24px;
		margin-top:10px;
	}
}
*/
/* Scroll magic playground 

.video-banner {
	height:100vh;
	overflow: hidden;
	margin-top:-75px;
	z-index: 5;
}

video {
	transition: all .75s;
}

video.hide {
	opacity: 0!important;
}

.overlay {
	content:"";
	position: absolute;
	top:0;
	bottom: 0;
	right:0;
	left:0;
	background-color: rgba(0,0,0,0.85);
	z-index: 6;
}

.fullbleed__container {
	z-index: 10;
}
#two, #three {
	opacity: 0;
}
#one {
	opacity:1; 
}
.video-banner h1 {
	text-align:;
}
.video-banner .intro {
	font-size:24px;
	text-align:;
}

#introduction, #chapter-one, #chapter-two, #chapter-three, #chapter-four {
	min-height:100vh;
}
/* introduction 
#introduction {
	background: #fafafa none scroll no-repeat 50%;
}

.left-column-wide {
	max-width:600px;
	width:100%;
	margin-left:12.5%;
	float:left;
	padding:4.5rem 0;
}

.right-column-thin {
	width:34%;
	margin-left:20px;
	float:left;
	padding:4.5rem 0;
}

.thin-column {
	width:17%;
	float:right;
	padding-left:20px;
	text-align: center;
}

/*modules - banner 

#two.fullbleed__content {
	max-width:900px;
	width:100%!important;
	margin-left:0;
}

.video-banner ul.facts-list {
	margin:0;
	padding:0;
}
.video-banner ul.facts-list li {
	list-style: none;
	width:33%;
	display: inline-block;
	border-left: 1px solid #fff;
    border-left: 1px solid hsla(255,255,255,1);
	padding-left:1rem;
	margin-bottom:2rem;
}

.video-banner .facts-list .fact {
	font-size: 72px;
	display: inline-block;
	line-height: 1;
}
.video-banner .facts-list .fact-measurement {
	display: inline-block;
	line-height: 1.3;
	font-size:28px;
}
.video-banner .facts-list .fact-description {
	display: block;
	font-style: italic;
	font-size:22px;
}

/* modules - text and stats 
ul.facts-list {
	margin:0;
	padding:0;
}
ul.facts-list li {
	list-style: none;
	width:49%;
	display: inline-block;
	border-left: 1px solid #b2b2b2;
    border-left: 1px solid hsla(0,0%,70%,.2);
	padding-left:1rem;
	margin-bottom:2rem;
}

.facts-list .fact {
	font-size: 42px;
	display: inline-block;
	line-height: 1;
}
.facts-list .fact-measurement {
	display: inline-block;
	line-height: 1.3;
	font-size:21px;
}
.facts-list .fact-description {
	display: block;
	font-style: italic;
	font-size:18px;
}
*/

/* profiles and modal 
.modal__inner {
	width:65%;
}

/* overview module 
.right-column-thin .dynamic-feat {
	padding:0;
}
.dynamic-feat.profiles .up-list__item {
	margin-bottom:1%;
}
.profiles .slick-dots {
	text-align: center;
}
.profiles .slick-dots li {
	pointer-events: all;
    margin: 0;
    padding: 0 3px;
    display: inline-block;
}
.profiles .slick-dots li button {
	display: block;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    text-indent: -200em;
    position: relative;
}
.profiles .slick-dots li button:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #e9e9e9;
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    -ms-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}
.profiles .slick-dots li.slick-active button:after {
    background-color: #ff5056;
}
.dynamic-feat.profiles .profile-header {
	margin-top:0;
}
.dynamic-feat.profiles .profile-header h3 {
	font-size:22px;
}
.dynamic-feat.profiles .profile-header .profile-header__details {
	margin-top:1.5rem;
	margin-bottom:0;
}
.dynamic-feat.profiles .profile-header .col {
	width:100%;
	margin:1.25rem 0;
}
.dynamic-feat.profiles .profile-header .col .cta {
	font-size:15px;
}


/* modules - pinned image or video for three slides */



/* fixed navigation 
.fixed-navigation {
	position: fixed;
    left: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 111;
}

.fixed-navigation li {
	list-style-type: none;
	margin:.2em 0 2em 20px;
}

.fixed-navigation li:after {
	content: "";
	margin-left:-20px;
	margin-top:-15px;
    display: block;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #e9e9e9;
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    -ms-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}

.fixed-navigation li.active:after {
	background-color:#ff5056;
	cursor: pointer;
}

.fixed-navigation li a {
	font-style: italic;
	font-size:20px;
	transition: all 0.5s;
	opacity: 0;
	display: block;
	background-color:#ff5056;
	padding:0 1rem;
	color:white; 
}
.fixed-navigation li a.active-label {
	opacity: 1;
}


/*digital twins potential amends */

/*digital twins potential amends */
	
         .text-content .fullbleed {
	margin:0;
	}
	.fullbleed.fullbleed--video-twin .fullbleed__inner {
	padding:0;
	}

	.media-hotspot .container_wrapper:before {
  	content: "";
  	position: absolute;
  	top:0;
  	bottom: 0;
  	left: 0;
  	right:0;
  	z-index: 0;
  	background-color: rgba(0,0,0,0.2);
}

	.media-hotspot__copy--is-active {
    opacity: 1!important;
    }

    .fullbleed--video-twin.overlay-enabled video {
 	top:45%;
}

	.fullbleed--video-twin.overlay-enabled.fullbleed--hero .progressiveMedia:after {
	background-color: rgba(0,0,0,0.4);
	z-index: 2;
}

	.fullbleed--video-twin.overlay-enabled .js-box-car-container p {
	color:#fff!important;
}

	.js-box-car-container .fullbleed--video-twin .fullbleed__content h3 a {
		font-weight: normal;
	}

@media (max-width:767px) {
	video {
		display: none;
	}
	.fullbleed__alt-content {
		padding:15% 0;
	}
}

@media (min-width:768px) {
	.fullbleed.fullbleed--video-twin video {
	width:100%;
	min-height:115%;
	min-width:115%;
	-webkit-transform: translate(-7.5%, -50%);
    -ms-transform: translate(-7.5%, -50%);
	transform: translate(-7.5%, -50%);
	}

	.page-info.js-hotspot-copy {
	opacity:0;
	}
	.fullbleed--video-twin video {
	opacity: 1;
	}
	.fullbleed--video-twin .fullbleed__alt-content {
	position: absolute;
    bottom: initial;
    padding: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: transparent;
	}
	.media-hotspot__endframe {
	height:115%;
	}
	.media-hotspot__copy--is-active {
    top: 25%;
	}
	.media-hotspot__endframe--is-active {
    opacity: 1;
    z-index: 1;
	}
       .media-hotspot__copy--is-active .feature-title__title {
     font-size:72px;
}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.fullbleed--video-twin {
	height:calc(75vh - 85px);
	}

	.js-box-car-container .fullbleed--video-twin.overlay-enabled .container.fullbleed__container {
    margin-top: 0;
    position: absolute;
    right: 50%;
    left: 0;
	}

	.js-box-car-container .fullbleed--video-twin.overlay-enabled .container.fullbleed__container.right {
		right:0;
		left:50%;
	}
	.js-box-car-container .fullbleed--video-twin.overlay-enabled .fullbleed--hero .fullbleed__content {
		margin-left: 0;
		width: 100%
	}
	.js-box-car-container .fullbleed--video-twin .fullbleed__content p a {
		font-size: 18px;
	}
}

@media (min-width:1024px) {
	.fullbleed--video-twin .fullbleed__alt-content {
    position: absolute;
    bottom: initial;
    padding: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: transparent;
	}
	.content-split h2, .content-split h4 {
    float: left;
    width: 37%;
    padding-left: .6em;
}
	.js-box-car-container .fullbleed--video-twin.overlay-enabled video {
		top:45%;
		min-height: 115%;
	}

	.js-box-car-container .fullbleed--video-twin.overlay-enabled .desktop-only {
		display: block!important;
	}

	.js-box-car-container .fullbleed--video-twin .fullbleed__container {
		padding-left:0;
	}

	.js-box-car-container .fullbleed--video-twin .fullbleed__content {
		margin-left:0!important;
		max-width: 50%!important;
		width:100%!important;
		padding: 3.1rem 4rem 2rem 3.1rem;
		top:50%;
	}

	.js-box-car-container .fullbleed--video-twin .fullbleed__content.right {
		left:50%;
	}

	.js-box-car-container .fullbleed--video-twin .fullbleed__content .cta--plain {
		margin-top:20px;
		font-size: 20px;
	}
}

@media (min-width: 1024px) and (min-height:900px) {
	.js-box-car-container .fullbleed--video-twin.overlay-enabled {
		height:800px!important;
	}
	.js-box-car-container .fullbleed--video-twin.overlay-enabled video {
		top:43.5%!important;
	}
}

@media (min-width:1024px) and (max-width:1279px) {
	.fullbleed--video-twin {
		max-height:730px!important;
	}
}

@media (min-width:1280px) {
	.js-media-hotspot.fullbleed--hero.fullbleed--video-twin {
	height:calc(100vh - 20px)
}
	.js-box-car-container .fullbleed--video-twin.overlay-enabled video {
		top:37.5%;
	}
	.intro {
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 1.25rem;
	}
	
	.js-box-car-container .fullbleed--video-twin.overlay-enabled video {
		top:37.5%;
	}
}

@media (min-width:1280px) {
      .career-overlay__filters h3 {
        font-size:28px!important;
      }
      .career-overlay__filters p {
        font-size:20px;
        font-style: normal;
      }
    }

/* Architecture page */
@media (min-width: 1024px) {
        .expertise-services {
        margin-top:0;
        margin-bottom:0;
        }
	.expertise-services__carousel.js-es-carousel {
		width:40%;
	}
	.expertise-service-content__servicelist .scroller {
		max-height: 280px;
	}
	.expertise-service-content__servicelist .scroller ul {
		max-height: 280px;
	}
	.expertise-service__inner {
		padding:5.3% 0 5.3%;
	}
	.expertise-service-content__description {
		float:right;
		margin-left: 100px;
		margin-top: 40px;
	}
	.expertise-service-content__description h2 {
		font-size: 32px;
	}
	.expertise-service-content__servicelist {
		float:left;
		width:100%;
	}
	.expertise-service-content__servicelist h4 {
		font-size: 18px;
		font-weight: 700;
		margin:0 2.65rem;
		text-align: right;
	}
	.js-es-carousel {
		width: 32%;
	}
	.js-es-scroller.scroller {
		text-align: right;
	}
	.expertise-services .tabs li {
		display: block;
	}
	.expertise-service-content__servicelist .scroller .nano-pane {
		left:initial;
		right: 0;
	}
	.expertise-service-content {
		display: flex;
		align-items: flex-start;
                margin-top:7.5%;
	}
	/* added to resolve javascript issues */
	.scroller__content.js-es-scroller-content.tabs {
		display: initial;
	}
	.expertise-service-content__servicelist .scroller {
		padding-left:30px;
		padding-right:30px;
	}
	.expertise-service-content__servicelist .scroller a {
		color: #fff;
		transition: 0.5s;
		text-decoration: none;
		border-bottom:none;
	}
	.expertise-service-content__servicelist .scroller a:hover {
		color: #ff5056;
	}
	.expertise-service-content__servicelist .scroller a:focus:after, .expertise-service-content__servicelist .scroller a:hover:after {
		opacity:0;
	}
	.expertise-service-content__servicelist .scroller li.js-es-carousel-control a:after {
    content: "";
    position: absolute;
    background: #ff5056;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    opacity: 0;
	}
	.expertise-service-content__servicelist .scroller li.js-es-carousel-control.selected a {
		color:#ff5056;
	}
	.expertise-service-content__servicelist .scroller li.js-es-carousel-control.selected a:after {
		opacity:1;
		margin-bottom:-5px;
	}
	.expertise-services.values .fullbleed--hero {
		height: 100%;
		padding:75px 0;
	}
	/* video example */
	.expertise-services.video {
		margin:4rem 0;
	}
	.expertise-services.video .expertise-service__inner {
		padding:0;
	}
	.expertise-services.video .absolute-container {
		position: absolute;
		z-index: ;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
	.expertise-services.video .absolute-container .container {
		display: flex;
		height:100%;
		align-items: center;
		width:100%;
	}
	.expertise-services.video .absolute-container .container .expertise-service-content {
		width:100%;
		margin-top:0;
	}
	.expertise-services.video .fullbleed--hero {
		height:100vh;
		max-height:650px;	
	}
	.expertise-services.video .fullbleed--hero:before {
		content: "";
		background-color: rgba(0,0,0,0.4);
		position: absolute;
		top:0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 2;
	}
	.expertise-services.video .expertise-service-content__servicelist{
		float:none;
	} 
	.expertise-services.video .expertise-service-content__description {
		width:100%;
		max-width:100%;
	}
	.expertise-services.video .expertise-service-content__description {
		float:none;
		width:100%;
		margin:0;
		padding:0;
	}
	.expertise-services.video .expertise-service-content__description .container {
		padding-left:5rem;
		align-items:flex-start;
		margin-top:9rem;
	}
	.expertise-services.video .absolute-container .container .content-description {
		width:100%;
		max-width: 450px;
		margin-left:42%;
		float: right;
		text-align: ;
		z-index: 2;
	}
	.expertise-services.video .absolute-container .container .content-description .cta {
		font-size: 20px;
	}
	.expertise-services.video .expertise-service-content__servicelist .scroller {
		border-right:2px solid #fff;
	}
	.expertise-services.video .expertise-service-content__servicelist .scroller.has-scrollbar {
		border:none;
	}
	.expertise-services.video ul {
		width:100%;
	}
	.expertise-services.video .expertise-service-content__servicelist .scroller ul li {
	}
	.expertise-services.video .tabs li a {
		font-size: 20px ;
	}
	.js-es-carousel.nav .slick-list {
		width:100%;
	}
}

.utility-bar.spacer {
	margin-bottom:0;
}

/* covid-19 playground */
.wec-drop__anchor-links li {
	font-size:16px;
}

.block--angle .container .abs h1 span {
	display: block;
	font-size:32px;
}

footer.footer {
	background-color: #fff;
	position:relative;
}

/* panels */

.wec-section {
	min-height: 100vh;
}
.wec-section__inner {
	width:100%;
}

.wec-section h2.section-heading {
	font-size:48px;
}

.covid-section-mid__grey {
	background-color:#e9e9e9;
}

.covid-section-light__grey {
	background-color:#f2f2f2;
}
.covid-section-white {
	background-color:#fff;
}

.narrow {
	max-width: 800px;
	margin:auto;
}
.covid-panel-padding {
	padding:0 4rem 0 4rem;
}
.wec-section p.intro {
	font-size:28px;
}
.wec-section p, .wec-section ol li {
	font-size:26px;
}
.mid-width {
	max-width:930px; 
	margin:auto;
}


#pin-one, #pin-two, #pin-three {
	min-height: 100vh;
	position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/* helping grid */
.link-wall__item--xl.half {
	width:44%;
}
.link-wall__item--xl .link-brick {
	min-height:500px;
}
.link-brick__content {
	padding:2rem 3.5rem 1.5rem;
}
.link-wall__item--xl.half .link-brick__title {
	font-size: 32px;
	font-style: normal;
}
.link-wall__item--xl.half .link-brick__copy {
	font-size:18px;
}
.link-wall__item--l.third .link-brick__title {
	font-size:24px;
	font-style: normal;
}
.link-wall__item--l.third .link-brick__copy {
	font-size:16px;
}
.inpagenav.launch .inpagenav-item {
	width:33%;
}
.inpagenav .inpagenav-item {
	width:25%;
}

.response-container {
	width:100%;
	display: flex;
	flex-direction: row;
}
.response-container.right {
	flex-direction:row-reverse;
}

.description-container {
	width:33%;
}

.tabs-container {
	padding-left:5rem;
}
.response-container.right .tabs-container {
	padding-left:0;
	padding-right:5rem;
}
.tabs-container .help-container {
	padding:3rem 2rem;
	position: relative;
	background-position: center;
	background-size: cover;
}
/*.tabs-container .help-container .overlay {
	position: absolute;
	z-index: 1;
	top:0;
	bottom:0;
	left:0;
	right: 0;
	background-color: rgba(0,0,0,0.45);
}*/
.tabs-container .help-container h3 {
	font-size:28px;
	z-index: 2;
}
.tabs-container .help-container hr {
	
	margin: 0 0 1rem;
    border-bottom-width: 2px;
}
.tabs-container .help-container .panel__label {
font-size:16px;	
}
.tabs-container ul {
	margin-bottom: 0;
	padding-left:1rem;
}
.tabs-container ul li {
	margin-bottom:10px;
}
.tabs-container ul li:last-child {
	margin-bottom: 0;
}
.tabs-container.inline .help-container {
	display: flex;
	align-items: flex-end;
}
.tabs-container.inline ul li {
	display: inline-block;
	width:45%;
	margin-right:4%;
	margin-bottom:20px;
}
/* not required to begin with
.tabs-container .content-slider {
	margin-top:0rem;
}

.tabs-container .content-slider .tabs {
	margin-bottom:1rem;
}

.tabs-container .content-slider .tabs a {
	font-size:18px;
}
.tabs-container .panel {
	padding:40px 0;
	min-height:300px;
}

.tabs-container .panel__content h3 {
	font-size:28px;
}
.tabs-container .panel__content p {
	font-size:20px;
}*/
.up-list__item {
	margin-left:2%;
	margin-bottom:2%;
}
.up-list__item--three {
	width:31.3333333%;
}/*
.up-list__item--three:nth-child(3n+1) {
	margin-left:2%;
}*/
.preview-card__pic, .pub-preview {
	padding-top:55%;
}
.mini-profile--small .mini-profile__pic {
	width:35px;
	height:35px;
}

.publications.image-left .publications__heading {
	float:right;
}
.publications.image-left img {
	float:left;
}

 #wec-4:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(52,52,52,.75);
    /*background: -webkit-linear-gradient(top,#1e1e1e,rgba(30,30,30,0)); 
    background: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(rgba(30,30,30,0))); 
    background: linear-gradient(0deg,#1e1e1e 0,rgba(30,30,30,0)); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e1e1e",endColorstr="#001e1e1e",GradientType=0);*/
}
 #wec-4 p, #wec-4 h2 {
	color:#fff;
}
.content-type__heading {
	font-size:32px;
}

.up-list.up-list--basic .preview-copy__copy {
	font-size:18px;
}
.up-list.up-list--basic.five .up-list__item {
	width:18%;
}
.up-list.up-list--basic.five .up-list__item:nth-child(6n+1), .up-list.up-list--basic.five .up-list__item:first-child {
	margin-left:0;
}
.up-list.up-list--basic.five .up-list__item--three:nth-child(3n+1) {
	margin-left:2%;
}

.wec-section .multicontact .mini-profile--icons .mini-profile__pic {
	width:110px;
	height:110px;
}

@media (max-width:1459px) {
	#careers p:not(.intro) {
		font-size:20px;
	}
}

@media (max-width: 1279px) {
	.wec-section h2.section-heading {
		font-size:32px;
	}
}
@media (max-width: 767px) {
	.wec-section p.intro {
		font-size:20px;
	}
	#careers p:not(.intro) {
		font-size:18px;
	}
}

/* all testing for adding carousel panel */
.wec-section--pad {
	padding-top:50px;
	padding-bottom:50px;
}

.wec-section__main.align-top {
	align-items: flex-start;
}

.response-container.vertical {
	flex-direction: column;
}
.response-container.vertical .introduction-container {
	width:100%;
	max-width:930px;
}

.carousel-container .nav-panel {
	margin:0;
	padding:80px 0 0px;
}
.carousel-container .nav-panel .panel {
	margin-left:75px;
	max-width:512px;
}
.carousel-container .nav-panel__container .panel {
	max-height:400px;
	min-height:400px!important;
	margin-bottom: 20px;
}
.carousel-container .panel__title {
	font-size: 32px;
}
[data-theme=grey] {
	color:#fff!important;
	background-color:#b2b2b2;
}


.quote-title {
	font-size:24px;
	margin:10px 10px 0 10px;
	}
.perspectives__item {
	margin-left:20px;

}
.preview-card__pic, .pub-preview {
	padding-top:60%;
}
.author-details {
	margin:5px 10px 0;
	display: block;
	color:#b2b2b2;
}
.perspective blockquote {
	padding:8px 22px;
}
.perspectives__item {
	margin-bottom: 1.5rem;
}
@media (min-width:768px) {
	.perspectives__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left:0;
    justify-content: space-between;
	}
}
@media (min-width:768px) and (max-width:1023px) {
	.perspectives__item {
		flex:initial;
		width:49%;
		margin-left:0;
	}
}
@media (min-width:1024px) {
	.perspectives__item {
		flex:initial;
		width:31.666%;
	}
	.perspectives__item:first-of-type {
		margin-left:0;
	}
	.perspectives__item:nth-of-type(3n+1) {
		margin-left:0;
	}
}

/* homepage explore */
.video-carousel video {
	opacity: 1!important;
}
.video-carousel__overlay {
	background: rgba(0,0,0,0.5);
}
@media (max-width:1023px) {
	.video-carousel video.desktop-only {
		display: block!important;
	}
}
@media (min-width: 1024px) {
	.perspectives-menu {
		height:90vh;
	}
	h2.h1.desktop-only span {
	display: none;
	}
	.perspectives-menu .video-carousel__content {
		padding:0 7rem;
		max-width: 100%;
	}
	.perspectives-menu .video-carousel__content .h4 {
		max-width: 100%;
	}
	.carousel__controls {
		max-width: 1160px;
		padding:0 7rem;
	}
	.perspectives-menu__controls li {
		margin-right:2%;
		width:calc(25% - 1.5%);
	}
}

.video-carousel video {
	opacity: 1!important;
}
.video-carousel__overlay {
	background: rgba(0,0,0,0);
opacity:0;
}
.carousel__controls li {
text-align:left;
}
@media (max-width:1023px) {
	.video-carousel video.desktop-only {
		display: block!important;
	}
       .perspectives-menu {
       height:85vh
       }
       .perspectives-menu .video-carousel__content {
       width:100%;
       text-align:left;

       }
       .perspectives-menu .video-carousel__content .h4, .perspectives-menu .video-carousel__content .cta {
        display:block;
       }
       .video-carousel .h1 span {
       display:none;
       }
       .video-carousel .cta {
       font-size:1.5rem;
       }
}
@media (min-width: 1024px) {
	.perspectives-menu {
		height:calc(85vh - 75px);
	}
	.video-carousel .h1 span {
	display: none!important;
	}
	.perspectives-menu .video-carousel__content {
		padding:0 7rem;
		max-width: 100%;
	}
	.perspectives-menu .video-carousel__content .h4, .perspectives-menu .video-carousel__content hr {
		max-width: 100%;
	}
	.carousel__controls {
		max-width: 1160px;
		padding:0 7rem;
	}
	.perspectives-menu__controls li {
		margin-right:12px;
		width:calc(25% - 1%);
	}
}
@media (min-width:1280px) {
        li.intro {
font-size:21px!important;
         }
}

/* covid revamp */
.covid-19 .container {
	max-width: 1440px;
	padding:6rem 0;
}

/* experimental module - community engagement use - builds on WEC fullbleed / full background module - CSS lifted from WEC stylesheet */
.fullbleed--background {
	position: relative;
}
.fullbleed--background:before {
	content:"";
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 3;
	background: rgba(0,0,0,0.5);
}
.fullbleed--background__media {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    min-height: 375px;
    line-height: 1;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.fullbleed--background__media video{
	height: 100%;
	width:100%;
	object-fit: cover;
	position: relative;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    max-width: none;
}
.fullbleed--background__inner {
	position: relative;
	z-index: 4;
}
.fullbleed--background__main {
	padding-top:60px;
	padding-bottom:60px;
	max-width: 1160px;
	min-height:560px;
	margin: auto;
	position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    color:#fff;
    align-items: flex-start;
    flex-direction: column;
}
.fullbleed--background__main .stats {
	width:100%;
	margin-top:50px;
}
.fullbleed--background__main .stats .stats__inner {
	padding:0;
}
.fullbleed--background__main .stats .stats-row__title {
	font-size:32px;
}
.fullbleed--background__main .stats .stat-row__item {
	flex-basis:33%;
	margin-left:5%;
	text-align: center;
	margin-left:3%;
	padding-left:3%;
	border-left:1px solid #fff;
}
.fullbleed--background__main .stats .stat-row__item:first-child {
	margin-left:0;
	padding-left:0;
	border-left:0;
}
.fullbleed--background__main .stats .stat-row__item span {
	text-align: left;
}
.fullbleed--background__main .inner-content__container {
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.fullbleed--background__main div .inner-content {
	display:flex;
	flex-direction: row;
}
.fullbleed--background__main div .inner-content.left {
	flex:0 0 65%;
	padding-right:50px;
	flex-direction: column;
}
.fullbleed--background__main div .inner-content.right {
	flex: 0 0 35%;
	padding-left:50px;
	flex-direction: column;
	justify-content: center;
}
.fullbleed--background__main div .inner-content p {
	color: #fff;
}
.fullbleed--background__main .quote {
	margin:0;
}
.fullbleed--background__main .quote:before {
	display: none;
}
.fullbleed--background__main .people {
	color:#fff;
	padding-left:50px;
}
.fullbleed--background__main .people img {
	display: block!important;
	width:166px;
	height:166px;
	border-radius: 100%;
	margin:auto;
}
.fullbleed--background__main .people .name {
	display: block;
	font-size:16px;
	font-style: italic;
	font-weight:bold;
}
.fullbleed--background__main .people .title {
	font-size:14px;
	display: block;
	margin-bottom:20px;
}
/* digital update */
.nav-secondary li:not(:last-child):after {
	content:"";
	padding:0 25px;
}
.nav-secondary li a {
	font-style:normal;
	opacity:0.75;
}
.nav-secondary li a:focus, .nav-secondary li a:hover {
	color:#ff5056;
}
.inpagenav.digital {
	margin:0 4rem 0 4rem;
}
.inpagenav.digital .inpagenav-item {
	height:300px!important;
}
.inpagenav.digital .inpagenav-item .background.background-image {
	background-size:cover;
	opacity:0.5!important;
}
.inpagenav-digital .inpagenav-item .background.background-color {
	color:#000;
}
.inpagenav.digital .inpagenav-item .inner h4 {
	font-size:28px!important;
}
.inpagenav.digital .inpagenav-item .inner p {
	font-size:20px!important;
	padding-right:30px;
}
/*project demo */
.project-wall {
	width:100%;
}
ul.project-wow {
	list-style: none;
	width:100%;
	max-width: 100%;
	display:flex;
	align-items: center;
	justify-content:center;
	flex-direction: row;
	flex-wrap: wrap;
}

ul.project-wow li {
	display: flex;
	width: 33%;
	align-items: center;
	justify-content:center;
	position: relative;
	margin-left:6px;
	margin-bottom:6px;
}
ul.project-wow li:first-child, ul.project-wow li:nth-child(3n+1) {
	margin-left:0;
}
ul.project-wow li:after {
	content: "";
	padding-top:100%;
	display: block;
}
.project-container {
	position: absolute;
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
}
.project-container a{
	display: block;
	position: relative;
	width:100%;
	height:100%;
}
.project-container .project-background__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
    background-color: #000;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height:100%;
}
.project-container .project-background__container .overlay {
	position: absolute;
	z-index: 2;
	background-color: rgba(235, 235, 235, 1);
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.project-container .project-background__container .overlay.none {
	background-color: rgba(0,0,0,0,0);
}
.project-container .project-background__container .overlay.dark {
	background-color: rgba(0,0,0,0,0.5);
}
.project-container .project-background__container .overlay.light {
	background-color: rgba(0,0,0,0,0.1);
}
.project-container .project-background__container.fullbleed video {
	left:-50%;
}

video.greyscale {
	filter: grayscale(1);
  -webkit-filter: grayscale(1); 
  filter: grayscale(100%); 
}
video.sepia {
	filter:sepia(1);
}
video.blur {
	filter: blur(4px);
}
.project-container__content {
 position: relative;
 width:100%;
 z-index: 10;
 padding:3rem;
}
.project-container__content .project-callout {
	color: #fff;
}


/* featured project hero */

.fullbleed--secondary.shock-and-awe .progressiveMedia {
	display: none;
}
.fullbleed.shock-and-awe .split-pic__content {
	position:relative;
	z-index: 10;
	background-size: cover;
	background-position: center;
}
.fullbleed.shock-and-awe .split-pic__content, .fullbleed.shock-and-awe .split-pic__content p {
	color:rgba(255,255,255,1)!important;
	}
.shock-and-awe .stat-row .subheading {
	border-bottom: 2px solid #fff;
	padding-bottom: 10px;
}
.shock-and-awe .stat-row .stat-row__list {
	border-bottom:2px solid #fff;
}

@media (max-width: 767px) {
	.fullbleed.shock-and-awe .split-pic__content:before {
		content: "";
		position: absolute;
		top:0;
		right: 0;
		left:0;
		bottom:0;
		z-index: -1;
		background-color: rgba(0,0,0,0.4);
	}
.fullbleed.shock-and-awe .image-gradient {
		display: none;
	}
}

@media (min-width:768px) {
.fullbleed--secondary.shock-and-awe {
	height:100%;
	min-height:600px;
	}
.fullbleed--secondary .progressiveMedia {
	display:block;
	}
.fullbleed.shock-and-awe .split-pic__content {
	background-image: none!important;
	position: relative;
}


@media (min-width:768px) and (max-width:1023px) {
.stat-row__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
	}
.stat-row__item {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    font-size: 72px;
    padding: 0;
	}
.stats__inner {
	padding:0;
	}
.stat-row {
	text-align: left;
	}
}

@media (min-width:1024px) {

.fullbleed .split-pic__inner.left {
	width:60%;
	padding:6rem 6rem 6rem 0;
	}
.fullbleed .split-pic__inner.right {
	width:40%;
	padding:6rem 6rem 6rem 0;
	}
.digital .stat-row__list {
	flex-direction: column;
	}

}


.fullbleed .split-pic__content p {
	color: #fff;
}
@media (min-width: 768px) {
.fullbleed .list--links li {
    width: 48%;
    margin-right:4%;
}
.fullbleed .list--links li:nth-child(even) {
	margin-right:0;
}
}
.fullbleed.digital .image-gradient {
	background-image:none;
	background-color:rgba(0,0,0,0.4);
}

.digital .stat-row__list .stat-row__item {
	padding-bottom:30px;
	font-size:48px;
}
.digital .stat-row__list .stat-row__item:last-child {
	margin-bottom: 0;
}
.up-list__item--three.four {
	width:24.2%;
	margin-left:1%;
}
.up-list__item--three.four:nth-child(3n+1) {
	margin-left:1%;
}
.up-list__item--three.four:first-child {
	margin-left:0;
}
/* end featured project hero */

