<section class="halfbleed halfbleed-carousel reveal">
	<div class="halfbleed-carousel__slides">
    	<div class="slide" data-description="Ove and his team realised that if each shell fit the shape described by a sphere, the same mould could be re-used for multiple shells. ">
            <img src="https://www.arup.com/-/media/Arup/Images/Projects/S/Sydney-Opera-House/Arup_PROJECTS_ARTS_CULTURE_SYDNEY_OPERA_HOUSE_AU_05_2000x1125.jpg?h=1125&amp;la=en&amp;w=2000&amp;hash=FD3B73455CF111CCA60DE98D327B555CAA9685C0" alt="Ove Arup and the Sydney Opera House team" width="2000" height="1125" DisableWebEdit="False" />
        </div>
        <div class="slide" data-description="The complex design work for the shells was achieved through the pioneering use of computers.">
        	<img src="https://www.arup.com/-/media/Arup/Images/Projects/S/Sydney-Opera-House/Arup_PROJECTS_ARTS_CULTURE_SYDNEY_OPERA_HOUSE_AU_06_2000x1125.jpg?h=1125&amp;la=en&amp;w=2000&amp;hash=D14BA174E49EAF3C0764C67BB871551BA7C6D5D9" alt="Sydney Opera House roof model" width="2000" height="1125" DisableWebEdit="False" />
        </div>
        <div class="slide" data-description="The construction of the concrete ribs, which would support the multiple shells of the Sydney Opera House.">
        	<img src="https://www.arup.com/-/media/Arup/Images/Projects/S/Sydney-Opera-House/Arup_PROJECTS_ARTS_CULTURE_SYDNEY_OPERA_HOUSE_AU_07_2000x1125.jpg?h=1125&amp;la=en&amp;w=2000&amp;hash=AEFF2CDDF493DBE63CE1C5D10616BA1DCA317313" alt="Sydney Opera House black and white close up" width="2000" height="1125" DisableWebEdit="False" />
        </div>
        <div class="slide" data-description="Each rib was fitted with a metal structure into which over a million square tiles were fitted in a chevron pattern. ">
        	<img src="https://www.arup.com/-/media/Arup/Images/Projects/S/Sydney-Opera-House/Arup_PROJECTS_ARTS_CULTURE_SYDNEY_OPERA_HOUSE_AU_08_2000x1125.jpg?h=1125&amp;la=en&amp;w=2000&amp;hash=47266C093B6C9866BE0BA60531FD1104F3317E94" alt="Sydney Opera House roof close up" width="2000" height="1125" DisableWebEdit="False" />
        </div>
    </div>
    <div class="halfbleed__detail">
    	<div class="carousel__count">
        	<span class="current">1</span> of <span class="total">2</span>
            <span class="divider"></span>
        </div>
        <span class="carousel__desc">
Ove and his team realised that if each shell fit the shape described by a sphere, the same mould could be re-used for multiple shells.                 </span>
        <div class="halfbleed-carousel__controls">
        	<div class="halfbleed-carousel__control carousel-prev">
        		<span role="button" href="#" data-grunticon-embed class="icon icon-prev" aria-label="Previous"></span>
        	</div>
            <div class="halfbleed-carousel__control carousel-next">
            	<span role="button" href="#" data-grunticon-embed class="icon icon-next" aria-label="Next"></span>
            </div>
        </div>
    </div>
</section>
