<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWSTJVF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  


  
 <header class="header  js-site-header" role="navigation">
  <section id="search-head" class="search" data-api="/api/search/autosearch" role="search" >
  <div class="container--search search__inner">

    <span class="search__icon"></span>

    <form action="search.html">
      <label class="label--search-top" for="searchbox_header">Search for projects, services, people and more</label>
      <input type="text" name="query" id="searchbox_header" class="input--search-top" placeholder="Search for projects, services, people and more" autofocus autocomplete="off" />
    </form>

    <span class="formError">Please enter at least 2 characters</span>

    <span tabindex="0" data-grunticon-embed class="search__reset icon icon-close" aria-label="Close"></span>

  </div>
</section>

  <section class="header__inner">
    <div class="header__burger">
      <button class="burger js-mobile-nav-toggle">
        <div class="burger__spinner">
          <div class="burger__part burger__part--1"></div>
          <div class="burger__part burger__part--2"></div>
          <div class="burger__part burger__part--3"></div>
        </div>
      </button>
    </div>
    <h1 class="header__logo arup-logo "><a class="header__logo-link" href="/">Arup</a></h1>
    <nav class="header__sitenav">

      <div class="desktopnav">
        <div class="marker js-nav-marker">
          <div class="marker__side marker__side--left js-nav-marker-left"></div>
          <div class="marker__side marker__side--right js-nav-marker-right"></div>
        </div>
        <ul class="main-nav">
          <li class="main-nav__item  js-dnav-has-menu" style="display:none;">
          </li>
          
          {{ range where .Site.Menus.main "Identifier" "not in" (slice "creating-modules" "best-practice")}}
           
          <li class="main-nav__item js-dnav-has-menu">
            <a href="{{.URL}}" class="main-nav__link main-nav__link--dropdown js-dnav-menu-trigger">{{.Name}}<span data-grunticon-embed class="main-nav__icon icon icon-down_arrow"></span></a>
            
            <div class="meganav-pane meganav-pane--perspective" role="navigation" aria-expanded="false" style="background-image:url('/images/backgrounds/navigation-background.jpg')">
              <section class="meganav-pane__inner">
                <div class="meganav-col meganav-col--title">
                  <div class="nav-intro">
                    <h4 class="nav-intro__title">General guidance on using the Sitecore platform</h4>
                    
                  </div>
                </div>
                <div class="meganav-col meganav-col--listcol">
                  
                  <ul class="meganav-list active">
                    {{ range .Children}}
                    <li class="meganav-list__item"><a class="subnav-action" href="{{.URL}}">{{.Name}}</a></li>
                    {{end}}
                  </ul>
                  
                </div>
              </section>
            </div>
            
          </li>
          {{end}}
          {{ range where .Site.Menus.main "Identifier" "in" (slice "creating-modules" "best-practice")}}
           
          <li class="main-nav__item js-dnav-has-menu">
            <a href="{{.URL}}" class="main-nav__link main-nav__link--dropdown js-dnav-menu-trigger">{{.Name}}<span data-grunticon-embed class="main-nav__icon icon icon-down_arrow"></span></a>
            
            <div class="meganav-pane meganav-pane--perspective" role="navigation" aria-expanded="false" style="background-image:url('/images/backgrounds/navigation-background.jpg')">
              <section class="meganav-pane__inner">
                <div class="meganav-col meganav-col--title">
                  <div class="nav-intro">
                    <h4 class="nav-intro__title">General guidance on using the Sitecore platform</h4>
                    
                  </div>
                </div>
                <div class="meganav-col meganav-col--listcol">
                  
                  <ul class="meganav-list active horizontal">
                    {{ range .Children.ByWeight}}
                    <li class="meganav-list__item"><a class="subnav-action" href="{{.URL}}">{{.Title}}</a></li>
                    {{end}}
                  </ul>
                  
                </div>
              </section>
            </div>
            
          </li>
          {{end}}
          
        </ul>
      </div>


    </nav>
    <nav class="header__nav-extra">
      <ul class="extra-nav">
        
      </ul>
    </nav>
  </section>
</header>

  

  <div class="nav-sidebar js-mobile-nav">
  <div class="nav-sidebar__controls">
    <div class="nav-ctrls">
      <div class="nav-ctrls__btn nav-ctrls__btn--close js-mobile-nav-toggle">
        <button class="nav-ctrl">
          <span data-grunticon-embed class="nav-ctrl__icon icon icon-close">Close</span>
        </button>
      </div>
      <div class="nav-ctrls__btn nav-ctrls__btn--back js-mobile-nav-back js-nav-sec-trigger" data-nav-sec-trigger="core">
        <button class="nav-ctrl">
          <span data-grunticon-embed class="nav-ctrl__icon nav-ctrl__icon--back icon icon-down_arrow">Back</span>
        </button>
      </div>
    </div>
  </div>
  <nav class="nav-sidebar__main">

    <ul class="nav-list-wrap">
      <li class="nav-list-wrap__item nav-list-wrap__item--active js-nav-sec" data-nav-sec="core">
        <div class="nav-list-wrap__content nav-list-wrap__content--center">
          <div class="nav-core">
            <ul class="nav-core__list">
              <li class="nav-core__item">

                <button class="nav-core__action nav-core__action--trigger js-nav-sec-trigger" data-nav-sec-trigger="expertise">General guidance<span data-grunticon-embed class="nav-core__pointer icon icon-down_arrow"></span></button>
              </li>
              
              <li class="nav-core__item">
                <button class="nav-core__action nav-core__action--trigger js-nav-sec-trigger" data-nav-sec-trigger="perspectives">Creating pages<span data-grunticon-embed class="nav-core__pointer icon icon-down_arrow"></span></button>
              </li>
              
              <li class="nav-core__item">
                <button class="nav-core__action nav-core__action--trigger js-nav-sec-trigger" data-nav-sec-trigger="firm">Creating and editing modules<span data-grunticon-embed class="nav-core__pointer icon icon-down_arrow"></span></button>
              </li>
              
              <li class="nav-core__item">
                <button class="nav-core__action nav-core__action--trigger js-nav-sec-trigger" data-nav-sec-trigger="offices">Best practice<span data-grunticon-embed class="nav-core__pointer icon icon-down_arrow"></span></button>
              </li>
            </ul>
            <div class="nav-core__search">
              <button class="nav-search-btn"><span data-grunticon-embed class="nav-search-btn__icon icon icon-search"></span> Search</button>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-list-wrap__item nav-list-wrap__item--dark nav-list-wrap__item--expertise js-nav-sec" data-nav-sec="expertise">
        <div class="nav-list-wrap__content">
          <div class="nav-second">
            <h3 class="nav-second__title nav-link-title">
              <a href="#" class="nav-link-title__link">
                <span class="nav-link-title__copy">General guidance</span>
                
              </a>
            </h3>

            <div class="nav-second__subsec">
              
              <ul class="nav-second__list">
                <li class="nav-second__item">
                  <a href="/getting-started/content-experienence-editor/" class="nav-second__link nav-action">Getting started with Sitecore</a>
                </li>
                <li class="nav-second__item">
                  <a href="/getting-started/rich-text/" class="nav-second__link nav-action">Editing using Rich Text editor</a>
                </li>
                <li class="nav-second__item">
                  <a href="/getting-started/adding-links/" class="nav-second__link nav-action">Adding links in Sitecore</a>
                </li>
                <li class="nav-second__item">
                  <a href="/getting-started/image-preparation/" class="nav-second__link nav-action">Preparing images</a>
                </li>
              
                <li class="nav-second__item">
                  <a href="/getting-started/uploading/" class="nav-second__link nav-action">Uploading images</a>
                </li>
                <li class="nav-second__item">
                  <a href="/getting-started/language-versions/" class="nav-second__link nav-action">Adding language versions</a>
                </li>
                <li class="nav-second__item">
                  <a href="/getting-started/workflow/" class="nav-second__link nav-action">Workflow</a>
                </li>
               </uL>
            </div>
        </div>
    </div>
      </li>
      <li class="nav-list-wrap__item nav-list-wrap__item--dark nav-list-wrap__item--perspectives js-nav-sec" data-nav-sec="perspectives">
        <div class="nav-list-wrap__content">
          <div class="nav-second">
            <h3 class="nav-second__title nav-link-title">
              <a href="#" class="nav-link-title__link">
                <span class="nav-link-title__copy">Creating pages</span>
                
              </a>
            </h3>

            
            <ul class="nav-second__list">
              <li class="nav-second__item">
                <a href="/creating-pages/creating-events/" class="nav-second__link nav-action">Events</a>
              </li>
              <li class="nav-second__item">
                <a href="/creating-pages/creating-news/" class="nav-second__link nav-action">News</a>
              </li>
              <li class="nav-second__item">
                <a href="/creating-pages/creating-offices"/ class="nav-second__link nav-action">Offices</a>
              </li>
              <li class="nav-second__item">
                <a href="/creating-pages/creating-perspectives/" class="nav-second__link nav-action">Perspectives</a>
              </li>
              <li class="nav-second__item">
                <a href="/creating-pages/creating-profiles/" class="nav-second__link nav-action">Profiles</a>
              </li>
              <li class="nav-second__item">
                <a href="/creating-pages/creating-projects/" class="nav-second__link nav-action">Projects</a>
              </li>
            </ul>
            

          </div>
        </div>
      </li>
      <li class="nav-list-wrap__item nav-list-wrap__item--dark nav-list-wrap__item--firm js-nav-sec" data-nav-sec="firm">
        <div class="nav-list-wrap__content">
          <div class="nav-second">
            <h3 class="nav-second__title nav-link-title">
              <a href="#" class="nav-link-title__link">
                <span class="nav-link-title__copy">Creating and editing modules</span>
                
              </a>
            </h3>

            
            <ul class="nav-second__list">
              <li class="nav-second__item"><a class="nav-second__link nav-action" href="/creating-modules/adding-modules/">Adding modules</a></li>
              <li class="nav-second__item"><a class="nav-second__link nav-action" href="/creating-modules/carousel/">Carousel</a></li>
              <li class="nav-second__item"><a class="nav-second__link nav-action" href="/creating-modules/contacts/">Contacts</a></li>
              <li class="nav-second__item"><a class="nav-second__link nav-action" href="/creating-modules/images/">Image</a></li>
           

            
              <li class="nav-second__item"><a class="nav-second__link nav-action" href="/creating-modules//creating-modules/publication-promo/">Publication Promo</a></li>
              <li class="nav-second__item"><a class="nav-second__link nav-action" href="/creating-modules/quotation/">Quotation (Quote and image)</a></li>
              <li class="nav-second__item"><a class="nav-second__link nav-action" href="/creating-modules/quote/">Quote</a></li>
              <li class="nav-second__item"><a class="nav-second__link nav-action" href="/creating-modules/recommended-content/">Recommended content</a></li>
            
              <li class="nav-second__item"><a class="nav-second__link nav-action" href="/creating-modules/rich-text-module/">Rich Text module</a></li>
              <li class="nav-second__item"><a class="nav-second__link nav-action" href="/creating-modules/text-image-split/">Text image split</a></li>
              <li class="nav-second__item"><a class="nav-second__link nav-action" href="/creating-modules/video/">Video</a></li>
            </ul>

          </div>
        </div>
      </li>
      <li class="nav-list-wrap__item nav-list-wrap__item--dark nav-list-wrap__item--offices js-nav-sec" data-nav-sec="offices">
        <div class="nav-list-wrap__content">
          <div class="nav-second">
            <h3 class="nav-second__title nav-link-title">
              <a href="#" class="nav-link-title__link">
                <span class="nav-link-title__copy">Best practice</span>
                
              </a>
            </h3>

            <ul class="nav-second__list">
              <!--<li class="nav-second__item">
                <a href="exemplar-news.html" class="nav-second__link nav-action">Exemplar news</a>
              </li>-->
              <li class="nav-second__item">
                <a href="/best-practice/exemplar-office/" class="nav-second__link nav-action">Exemplar office</a>
              </li>
              <!--<li class="nav-second__item">
                <a href="exemplar-perspective.html" class="nav-second__link nav-action">Exemplar perspective</a>
              </li>-->
              <li class="nav-second__item">
                <a href="/best-practice/exemplar-profile/" class="nav-second__link nav-action">Exemplar profile</a>
              </li>
              <li class="nav-second__item">
                <a href="/best-practice/exemplar-project/" class="nav-second__link nav-action">Exemplar project</a>
              </li>
              <li class="nav-second__item">
                <a href="/best-practice/content-checklist/" class="nav-second__link nav-action">Content checklist</a>
              </li>
              <li class="nav-second__item">
                <a href="/best-practice/seo/" class="nav-second__link nav-action">SEO best practice</a>
              </li>
              <li class="nav-second__item">
                <a href="/best-practice/dashboards/" class="nav-second__link nav-action">Metrics and dashboards</a>
              </li>
            </ul>

          </div>
        </div>
      </li>
    </ul>

  </nav>
  <footer class="nav-sidebar__foot">
    <a href="../html/contact.html" class="link link--icon"><span data-grunticon-embed class="icon icon-contact"></span>Get in touch</a>
  </footer>
</div>


  <section id="search-results" class="search-results">

  <div class="search-results__wrap">

    <div class="container--search search-results--inner">

      <div class="search-results--noresult">
          <p class="search-results__warning">Looks like there are no results for <span></span></p>
          <span class="suggestion label label--md">Suggestions</span>
          <ul class="search-result__results search-result__results--suggestions">
            <li><a href="search.html">Waste<a></li>
            <li><a href="search.html">Water<a></li>
            <li><a href="search.html">Watershed<a></li>
              <li><a href="search.html">Waste<a></li>
              <li><a href="search.html">Water<a></li>
              <li><a href="search.html">Watershed<a></li>
          </ul>
      </div>

      <div class="search-results__content">

        <span class="suggestion label label--md">Suggestions</span>

        <div class="search-result">
          <span class="search-result__section">Projects</span>
          <ul class="search-result__results">
            <li><a href="search.html">Marina Bay Waterfront Promenade<a></li>
            <li><a href="search.html">Marina Bay Sands integrated resort<a></li>
            <li><a href="search.html">Istanbul Marina Transport Services<a></li>
          </ul>
        </div>

        <div class="search-result">
          <span class="search-result__section">Industry</span>
          <ul class="search-result__results">
            <li><a href="search.html">Maritime <span class="search__tag">Marina</span><a></li>
          </ul>
        </div>

        <div class="search-result">
          <span class="search-result__section">Office</span>
          <ul class="search-result__results">
            <li><a href="search.html">London, United Kingdom <span class="search__tag">London</span><a></li>
          </ul>
        </div>
      </div>

      <a href="search.html" id="search__viewall" class="cta cta--black cta--lg">
          <span data-grunticon-embed class="icon icon-oval"></span>
          <span>View all results for <span class="search__cta">"Marina"</span></span>
      </a>

    </div>

  </div>

</section>

