{{- partial "head.html" . -}}
<body>
    {{- partial "header.html" . -}}
    <div class="global-wrapper">
        <main id="main" role="main">
            <section class="error">
                <div class="error__bg error__bg--mobile mobile-only">
                    <div class="error__bgimg error__bgimg--404" style="background-image:url(https://www.arup.com/-/media/arup/images/error-images/arup_404_error_page.jpg)"></div>
                </div>
                <div class="error__bg error__bg--desktop tablet-only">
                    <div class="error__bgimg error__bgimg--404" style="background-image:url(https://www.arup.com/-/media/arup/images/error-images/arup_404_error_page.jpg)"></div>
                </div>
                <section class="container ">
                    <section class="error__content">
                        <h1 class="h2">Looks like you’ve taken a wrong turn</h1>
                        <p class="intro">The page has either been moved or no longer exists.</p>
                        <a class="cta cta--lg cta--back nav__mob" href="/" HideLinkDescription="True">
                            <span data-grunticon-embed class="icon icon-oval"></span>
                            <span>Return to the homepage</span>
                        </a>
                    </section>
                </section>
            </section>
        </main>

        {{- partial "footer.html" . -}}
    