{{ define "main" }}
    
    {{ .Content }}
  
  <section class="container homepage">
    <div class="menu_row clearfix fullwidth" style="margin-top:3rem;">
        <div class="menu_section">
            <h4 class="index-title">Getting started with Sitecore</h4>
            {{ range where .Site.Menus.main "Identifier" "in" (slice "getting-started")}}
                {{ range .Children.ByWeight}}
                <a class="index-link" href="{{.URL}}">{{.Name}}</a>
                {{end}}
            {{end}}
        </div>
        <div class="menu_section">
            <h4 class="index-title">Creating pages</h4>
            {{ range where .Site.Menus.main "Identifier" "in" (slice "creating-pages")}}
                {{ range .Children.ByWeight}}
                <a class="index-link" href="{{.URL}}">{{.Name}}</a>
                {{end}}
            {{end}}
        </div>
        <div class="menu_section">
            <h4 class="index-title">Creating modules</h4>
            {{ range where .Site.Menus.main "Identifier" "in" (slice "creating-modules")}}
                {{ range .Children.ByWeight}}
                <a class="index-link" href="{{.URL}}">{{.Name}}</a>
                {{end}}
            {{end}}
        </div>
        <div class="menu_section">
            <h4 class="index-title">Best practice</h4>
            {{ range where .Site.Menus.main "Identifier" "in" (slice "best-practice")}}
                {{ range .Children.ByWeight}}
                <a class="index-link" href="{{.URL}}">{{.Name}}</a>
                {{end}}
            {{end}}
        </div>
    </div>
  </section>
{{ end }}

